[2021-12-07 04:06] abhisheks008 opened #1 "Fork the Repo 🍴"
Fork this main repository before contributing to it. Without forking the repo don't create the pull request.

[2021-12-07 04:07] abhisheks008 opened #2 "Contribute to this repository 💡"
Contribute to this respository to shower your love towards this project and getting started with Open Source/Github.

[2021-12-07 04:08] abhisheks008 opened #3 "Star the repository ⭐"
Consider starring this repository if you found this project helpful. And also share the repository with other contributors so that they can also get to know about it!

[2021-12-10 11:40] Pushpita05 commented on #3
hey I would like to add a ml project I am working on to this repo,I am in SWOC, so could you assign me a issue

[2021-12-10 13:51] abhisheks008 commented on #3
Sure @Pushpita05. Hope SWOC will provide the brochure soon, then we'll create the issues and you can start contributing.

[2021-12-11 14:15] abhisheks008 opened #4 "Mall Customers Segmentation"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Mall Customers Segmentation
:red_circle: **Aim** : To classify different customers.
:red_circle: **Dataset** : https://www.kaggle.com/shwetabh123/mall-customers
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for the model

[2021-12-11 14:16] abhisheks008 opened #5 "Iris Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Iris Classification
:red_circle: **Aim** : Implement a machine learning classification or regression model on the dataset. Classification is the task of separating items into its corresponding class.
:red_circle: **Dataset** : https://archive.ics.uci.edu/ml/datasets/Iris
:red_circle: **Approach** : Try to use 3-4 algori

[2021-12-11 14:17] abhisheks008 opened #6 "MNIST Dataset Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : MNIST Dataset Classification
:red_circle: **Aim** : Implement a machine learning classification algorithm on image to recognize handwritten digits from a paper.
:red_circle: **Dataset** : http://yann.lecun.com/exdb/mnist/
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the a

[2021-12-11 14:18] abhisheks008 opened #7 "House Price Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : House Price Prediction
:red_circle: **Aim** : Predict the housing prices of a new house using linear regression. Linear regression is used to predict values of unknown input when the data has some linear relationship between input and output variables.
:red_circle: **Dataset** : https://www.cs.toronto.edu/~delve/data/bo

[2021-12-11 14:20] abhisheks008 opened #8 "Fake News Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Fake News Detection
:red_circle: **Aim** : Build a fake news detection model with Passive Aggressive Classifier algorithm. The Passive Aggressive algorithm can classify massive streams of data, it can be implemented quickly.
:red_circle: **Dataset** : https://www.kaggle.com/c/fake-news/data
:red_circle: **Approach** : T

[2021-12-11 14:21] abhisheks008 opened #9 "Wine Quality Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Wine Quality Prediction
:red_circle: **Aim** : Perform various different machine learning algorithms like regression, decision tree, random forests, etc and differentiate between the models and analyse their performances.
:red_circle: **Dataset** : https://archive.ics.uci.edu/ml/datasets/wine+quality
:red_circle: **Appr

[2021-12-11 14:22] abhisheks008 opened #10 "Height and Weight Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Height and Weight Prediction
:red_circle: **Aim** : Build a predictive model for determining height or weight of a person. Implement a linear regression model that will be used for predicting height or weight.
:red_circle: **Dataset** : http://wiki.stat.ucla.edu/socr/index.php/SOCR_Data_Dinov_020108_HeightsWeights
:red_

[2021-12-11 14:23] abhisheks008 opened #11 "Parkinson's Disease Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Parkinson's Disease Prediction
:red_circle: **Aim** : The model can be used to differentiate healthy people from people having Parkinson’s disease. The algorithm that is useful for this purpose is XGboost which stands for extreme gradient boosting, it is based on decision trees.
:red_circle: **Dataset** : https://archiv

[2021-12-11 14:24] abhisheks008 opened #12 "Titanic Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Titanic Prediction
:red_circle: **Aim** : Build a fun model to predict whether a person would have survived on the Titanic or not. You can use linear regression for this purpose.
:red_circle: **Dataset** : https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/problem12.html
:red_circle: **Approach** : Try to use 3-

[2021-12-11 14:25] abhisheks008 opened #13 "Uber Pickup Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Uber Pickup Analysis
:red_circle: **Aim** : To analyze the data of the customer rides and visualize the data to find insights that can help improve business. Data analysis and visualization is an important part of data science. They are used to gather insights from the data and with visualization you can get quick infor

[2021-12-11 14:56] rahul-netizen commented on #8
Full name : Rahul Kumar
GitHub Profile Link : [https://github.com/rahul-netizen](https://github.com/rahul-netizen)
Participant ID : 740
Approach for this Project : First do an EDA then find more about Passive Aggressive Classifier, then try models which work best with text data
Are you a participant of SWOC 2.0?
 YES

[2021-12-11 15:13] Gauransh-Shukla commented on #5
I would like to work on this

[2021-12-11 16:31] abhisheks008 commented on #5
follow the guidelines and mention the details properly @Gauransh-Shukla

[2021-12-11 16:31] abhisheks008 commented on #8
Issue assigned to you @rahul-netizen

[2021-12-11 17:16] deepthi1107 commented on #9
Full name : Deepthi M
GitHub Profile Link : https://github.com/deepthi1107
Participant ID : 294
Approach for this Project : Deatiled EDA, SWM, Linear regression, Desicion tree models will be used to predict the outcome.
Are you a participant of SWOC 2.0?
 YES

[2021-12-11 17:17] ashish-reddy-20-08 commented on #12
Full name : M. Ashish Reddy
GitHub Profile Link : https://github.com/ashish-reddy-20-08
Participant ID :   528
Approach for this Project : Detailed explanation of the EDA, Using models like SVM, Decision tress, etc. to predict the model.
Are you a participant of SWOC 2.0?
 YES

[2021-12-11 18:00] abhisheks008 commented on #9
Issue assigned to you @deepthi1107

[2021-12-11 18:01] abhisheks008 commented on #12
Issue assigned to you @ashish-reddy-20-08

[2021-12-12 04:07] abhisheks008 opened #14 "Character Recognition"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Character Recognition
:red_circle: **Aim** : Implement character recognition in natural languages. Character recognition is the process of automatically identifying characters from written papers or printed texts.
:red_circle: **Dataset** : http://www.ee.surrey.ac.uk/CVSSP/demos/chars74k/
:red_circle: **Approach** : Try

[2021-12-12 04:08] abhisheks008 opened #15 "Credit Card Fraud Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Credit Card Fraud Detection
:red_circle: **Aim** : Implement different algorithms like decision trees, logistic regression, and artificial neural networks to see which gives better accuracy. Compare the results of each algorithm and understand the behavior of models.
:red_circle: **Dataset** : https://www.kaggle.com/mlg

[2021-12-12 04:09] abhisheks008 opened #16 "Intention of Chatbots"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Intention of Chatbots
:red_circle: **Aim** : Tweak and expand the data with your observations to build and understand the working of a chatbot in organizations. A chatbot requires you to understand Natural language processing concepts.
:red_circle: **Dataset** : https://github.com/katanaml/katana-assistant/blob/master/m

[2021-12-12 04:11] abhisheks008 opened #17 "Fraud Email Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Fraud Email Detection
:red_circle: **Aim** : Build a model to detect fraudulent activities.
:red_circle: **Dataset** : https://www.cs.cmu.edu/~enron/
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for the model by checkin

[2021-12-12 04:12] abhisheks008 opened #18 "Restaurant Review Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Restaurant Review Classification
:red_circle: **Aim** : You can build a model which can detect whether a restaurant’s review is fake or real. With text processing and additional features in dataset you can build a SVM model that can classify reviews as fake or real.
:red_circle: **Dataset** : https://www.yelp.com/datase

[2021-12-12 04:13] abhisheks008 opened #19 "Jeopardy Bot"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Jeopardy Bot
:red_circle: **Aim** : We Build a question answering system and implement in a bot that can play the game of jeopardy with users. The bot can be used on any platform like Telegram, discord, reddit, etc.
:red_circle: **Dataset** : https://www.reddit.com/r/datasets/comments/1uyd0t/200000_jeopardy_questions_in

[2021-12-12 04:14] abhisheks008 opened #20 "Product Recommendation System"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Product Recommendation System
:red_circle: **Aim** : Build a product recommendation system like Amazon. A recommendation system can suggest you products, movies, etc based on your interests and the things you like and have used earlier.
:red_circle: **Dataset** : https://cseweb.ucsd.edu/~jmcauley/datasets.html
:red_circ

[2021-12-12 04:15] abhisheks008 opened #21 "Spam Email Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Spam Email Detection
:red_circle: **Aim** : You can build a model that can identify your emails as spam or non-spam.
:red_circle: **Dataset** : https://archive.ics.uci.edu/ml/datasets/Spambase
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the bes

[2021-12-12 04:16] abhisheks008 opened #22 "IMDB Review Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : IMDB Review Analysis
:red_circle: **Aim** : Perform Sentiment analysis on the data to see the statistics of what type of movie do users like. Sentiment analysis is the process of analysing the textual data and identifying the emotion of the user, Positive or Negative.
:red_circle: **Dataset** : http://ai.stanford.edu/~a

[2021-12-12 04:18] abhisheks008 opened #23 "Caption Generation from Images"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Caption Generation from Images
:red_circle: **Aim** : Detect objects from the image and then generate captions for them. LSTM (Long short term memory) network is responsible for generating sentences in English and CNN is used to extract features from image. To build a caption generator we have to combine these two model

[2021-12-12 06:43] iaryangoyal commented on #21
Can I do this?

[2021-12-12 06:58] shivangisehgal commented on #10
Full name : Shivangi Sehgal
GitHub Profile Link : https://github.com/shivangisehgal
Participant ID : 909
Approach for this Project : Perform EDA, try different regression models to predict Weight based on Height (or vice versa) and find best fitted model by evaluating their errors.
Are you a participant of SWOC 2.0?
 YES

[2021-12-12 07:54] abhisheks008 commented on #10
Issue assigned to you @shivangisehgal

[2021-12-12 07:55] abhisheks008 commented on #21
Follow the issue guidelines and then comment out properly with your credentials @iaryangoyal

[2021-12-12 07:56] Vanshikagoel0012 opened #24 "House"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** #7
:red_circle: **Aim** :
:red_circle: **Dataset** :
:red_circle: **Approach** :

Hello, ML-Crate contributors, this issue is only for the contribution purposes and allocated only to the participants of SWOC 2.0 Open Source Program.

**********************************************************************************
### 📍

[2021-12-12 07:59] abhisheks008 commented on #24
@Vanshikagoel0012 I have created the issue "House Price Prediction", go there and comment out with your credentials and approach to get assigned the issue. No need to create a new issue for the same.

[2021-12-12 07:59] #24 closed

[2021-12-12 08:01] yagyesh-bobde commented on #6
I want to work on this

[2021-12-12 08:07] yagyesh-bobde commented on #6
Do i need to submit only the saved model or the entire jupyter notebook ?

[2021-12-12 08:09] Vanshikagoel0012 commented on #7
Full name : Vanshika goel
GitHub Profile Link :https://github.com/Vanshikagoel0012
Participant ID :1093
Approach for this Project House Price Prediction #7
Are you a participant of SWOC 2.0?
YES

[2021-12-12 08:15] abhisheks008 commented on #6
Follow the guidelines and comment out with your credentials. The entire jupyter notebook will be needed, as well as the EDA will be there for the dataset @yagyesh-bobde

[2021-12-12 08:16] abhisheks008 commented on #7
@Vanshikagoel0012 Tell me what are the algorithms you are going to use?

[2021-12-12 08:21] Vanshikagoel0012 commented on #7
This will be based on linear regression

[2021-12-12 08:28] yagyesh-bobde commented on #6
Full name : Yagyesh Bobde
GitHub Profile Link : https://github.com/yagyesh-bobde
Participant ID : 1131
Approach for this Project : First do an EDA then find which models are best for image classification
Are you a participant of SWOC 2.0?
YES

[2021-12-12 08:58] abhisheks008 commented on #7
@Vanshikagoel0012 Try to implement more regression algorithms like decision tree, random forest, gradient boosting and many more. Then make a comparison of all the algorithms based on the accuracy scores, f1 score, r2 score and finalize the best fitted model/algorithm.

Anyways the issue is assigned to you, go ahead!

[2021-12-12 08:59] abhisheks008 commented on #6
Issue assigned to you @yagyesh-bobde

[2021-12-12 10:36] Vanshikagoel0012 commented on #7
okayy

[2021-12-12 12:27] sankalp-srivastava commented on #5
Full name : Sankalp Srivastava
GitHub Profile Link : github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : visualization and eda on dataset then training a model with xgboost and tensorflow
Are you a participant of SWOC 2.0?
 YES

[2021-12-12 12:30] sankalp-srivastava commented on #14
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : create a cnn model for uppercase and lowercase character predictions and predictions could also be done on real world images by using opencv library and preprocessing the image and getting predictions from model
Are you a participant of SWOC 2.0?
 YES

[2021-12-12 12:32] sankalp-srivastava commented on #15
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : cleaning and visualizing the data then creating baseline models with random forest, xgboost, lightBGM and cnn model and the model performing the best will go through hyperparameter tuning for best accuracy.
Are you a participant of SWOC 2.0?
YES

[2021-12-12 16:42] ASLManasa commented on #15
@sankalp-srivastava go Ahead! Complete it within 3 Days.

[2021-12-12 17:38] joy-i commented on #17
/assign

[2021-12-12 18:58] abhisheks008 commented on #14
One issue at a time @sankalp-srivastava

[2021-12-13 13:28] yagyesh-bobde commented on #6
This is my first PR .... should I make any changes or something ? @abhisheks008

[2021-12-13 13:50] abhisheks008 commented on #6
@yagyesh-bobde I have requested changes on your PR. Please take a look.

[2021-12-13 14:32] #15 closed

[2021-12-13 14:40] sankalp-srivastava commented on #14
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : create a cnn model for uppercase and lowercase character predictions and predictions could also be done on real world images by using opencv library and preprocessing the image and getting predictions from model
Are you a participant of SWOC 2.0?
YES

[2021-12-13 14:51] abhisheks008 commented on #14
Yup issue assigned to you @sankalp-srivastava. All the best ❤️

[2021-12-13 14:57] abhisheks008 commented on #5
One issue at a time.

[2021-12-13 15:01] suyogkokaje commented on #4
Full name : Suyog Kokaje
GitHub Profile Link : https://github.com/suyogkokaje
Participant ID : 1032
Approach for this Project : K-means clustering
Are you a participant of SWOC 2.0?
YES

[2021-12-13 15:05] abhisheks008 commented on #4
@suyogkokaje Implement 3-4 Algorithms for creating the model, then check the accuracy scores of them and finalize the best fitted algorithm/model for this project.

Anyways this issue is assigned to you.

[2021-12-13 15:54] #6 closed

[2021-12-14 14:24] yagyesh-bobde commented on #21
I want to work on this!

Full name : Yagyesh Bobde
GitHub Profile Link : https://github.com/yagyesh-bobde
Participant ID : 1131
Approach for this Project : First do an EDA then find which models are best for email spam classification
Are you a participant of SWOC 2.0?
YES

[2021-12-14 14:35] abhisheks008 commented on #21
@yagyesh-bobde go ahead, issue assigned to you.

[2021-12-14 15:19] #14 closed

[2021-12-14 15:27] sankalp-srivastava commented on #5
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : create a cnn model for uppercase and lowercase character predictions and predictions could also be done on real world images by using opencv library and preprocessing the image and getting predictions from model
Are you a participant of SWOC 2.0?
YES

[2021-12-14 15:33] abhisheks008 commented on #5
Issue assigned @sankalp-srivastava

[2021-12-14 20:12] ahananupam33 commented on #18
Full name : Ahan Anupam
GitHub Profile Link : https://github.com/ahananupam33
Participant ID : 63
Approach for this Project : Perform EDA on the dataset and perform classification of the reviews using multiple models like SVM, Naive Bayes,etc and compare the accuracies to get the best model.
Are you a participant of SWOC 2.0? YES

[2021-12-15 05:59] karishni commented on #11
Full name : Karishni Mehta
GitHub Profile Link : https://github.com/karishni
Participant ID : 466
Approach for this Project : After data preprocessing and EDA , will use different algorithms like SVM, KNN, Random forest, XGboost and compare their accuracies.
Are you a participant of SWOC 2.0?
 YES

[2021-12-15 07:26] abhisheks008 commented on #18
@ahananupam33 issue assigned to you. go ahead 🎉

[2021-12-15 07:27] abhisheks008 commented on #11
Go ahead, issue assigned to you @karishni

[2021-12-15 18:38] ahananupam33 commented on #18
I have a doubt.
https://www.yelp.com/dataset
Is this the correct dataset? Actually the size is 5-6 GB. Is there supposed to be a smaller dataset?
Just wish to confirm.

[2021-12-16 13:42] abhisheks008 commented on #18
Nopes this is the correct dataset, it is basically the Yelp Restaurant Review dataset.

[2021-12-16 13:49] #10 closed

[2021-12-16 14:13] #9 closed

[2021-12-16 15:02] deepthi1107 commented on #13
Full name : Deepthi M
GitHub Profile Link : https://github.com/deepthi1107
Participant ID : 294
Approach for this Project: EDA, SVM, random forest, decision tree
Are you a participant of SWOC 2.0?
 YES

[2021-12-16 15:37] #21 closed

[2021-12-16 15:38] #8 closed

[2021-12-16 15:39] abhisheks008 commented on #13
Issue assigned to you @deepthi1107

[2021-12-16 15:44] yagyesh-bobde commented on #22
I want to work on this!

Full name : Yagyesh Bobde
GitHub Profile Link : https://github.com/yagyesh-bobde
Participant ID : 1131
Approach for this Project : First do an EDA then find which models are best for email spam classification
Are you a participant of SWOC 2.0?
YES

[2021-12-16 15:45] abhisheks008 commented on #22
Issue assigned @yagyesh-bobde

[2021-12-16 16:17] iaryangoyal commented on #17
I want to work on this!

Full name: Aryan Goyal
GitHub Profile Link: https://github.com/iaryangoyal
Participant ID: 191
Approach for this Project: First do an EDA then find which models are best for email spam classification
Are you a participant of SWOC 2.0?
YES

[2021-12-16 16:34] abhisheks008 commented on #17
issue assigned to you @iaryangoyal

[2021-12-17 09:43] Revanth-shivakumar commented on #20
Full name : Revanth K S
GitHub Profile Link : https://github.com/Revanth-shivakumar
Participant ID : 762
Approach for this Project: Perform Exploratory Data Analysis on the dataset and perform classification of user interests using clustering and grouping algorithmns and compare the accuracies to get the best model.
Are you a participant in SWOC 2.0? YES

[2021-12-18 03:48] divya-gupta12 opened #36 "Pima Indians Diabetes Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Pima Indians Diabetes Prediction
:red_circle: **Aim** : To predict whether a person is diabetic or not.
:red_circle: **Dataset** : https://www.kaggle.com/uciml/pima-indians-diabetes-database
:red_circle: **Approach** : Full model building process to be explained from Exploratory data analysis to evaluation metrics.

Hel

[2021-12-18 03:51] divya-gupta12 commented on #36
- Full name : Divya Shanker Gupta
- GitHub Profile Link : https://github.com/divya-gupta12
- Participant ID : 1155
- Approach for this Project : I will Implement Logistic Regression model to do this and then to increase its performance will try Random Forest Classifier .
- Are you a participant of SWOC 2.0?
   YES
 I want to work on this issue

[2021-12-18 05:08] hpnightowl commented on #20
@Revanth-shivakumar  issue assigned to you. go ahead 🎉

[2021-12-18 07:29] ASLManasa commented on #36
@divya-gupta12 assigning you . Try to complete it within 3 days with proper format.

[2021-12-18 13:15] HarshiniMarappan commented on #16
Hi @abhisheks008 can i work on this issue ?

Full name : Harshini Marappan
GitHub Profile Link : https://github.com/HarshiniMarappan
Participant ID : 389
Approach for this Project : For initial text processing i would use nltk library . I would use Naive Bayes , Decision Tree and Support Vector Machines algorithms to compare the accuracies of the chatbot and find the best fit.
Are you a participan

[2021-12-18 15:01] abhisheks008 commented on #16
Issue assigned to you @HarshiniMarappan

[2021-12-18 15:06] #12 closed

[2021-12-18 15:14] #5 closed

[2021-12-18 16:57] sankalp-srivastava commented on #23
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : would create a lstm model and work on improving its accuracy
Are you a participant of SWOC 2.0?
YES

[2021-12-19 04:23] abhisheks008 commented on #23
Issue assigned to you @sankalp-srivastava

[2021-12-19 04:25] #36 closed

[2021-12-19 12:03] Cody-coder017 commented on #19
Full name : Venkatakrishnan R
GitHub Profile Link : https://github.com/Cody-coder017
Participant ID : 1104
Approach for this Project : I will use NLTK to understand the question and use logistic regressiona and clustering algorithm to see the results
Are you a participant of SWOC 2.0?
YES
I want to work on this issue

[2021-12-19 13:00] ASLManasa commented on #19
@Cody-coder017 Assigning to you. Try to complete it within 3 days!

[2021-12-20 08:25] #11 closed

[2021-12-20 16:01] ASLManasa opened #40 "Heart Disease Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** :   Heart Disease Prediction
:red_circle: **Aim** : Use this dataset to predict which patients are most likely to suffer from a heart disease in the near future using the features given.
:red_circle: **Dataset** : https://www.kaggle.com/rishidamarla/heart-disease-prediction
:red_circle: **Approach** : Try to use 3-4 algor

[2021-12-20 16:03] ASLManasa opened #41 "Sentiment Analysis on Twitter Data"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Sentiment Analysis on Twitter Data
:red_circle: **Aim** :  Analysing the sentiment of the users and creating a prediction model based on the data, which will predict the sentiment of the user.
:red_circle: **Dataset** : https://www.kaggle.com/arkhoshghalb/twitter-sentiment-analysis-hatred-speech
:red_circle: **Approach*

[2021-12-20 16:07] ASLManasa opened #42 "Credit Card Fraud Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Credit Card Fraud Detection
:red_circle: **Aim** : To identify suspicious events and report them to an analyst while letting normal transactions be automatically processed
:red_circle: **Dataset** : https://www.kaggle.com/mlg-ulb/creditcardfraud
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the mode

[2021-12-20 16:10] ASLManasa opened #43 "Avocado Prices"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Avocado Prices
:red_circle: **Aim** : The goal is to predict the average price which is continuous in nature of the different type of avocado and using the region that in which region they are lying.
:red_circle: **Dataset** : https://www.kaggle.com/neuromusic/avocado-prices/code
:red_circle: **Approach** : Try to use 3

[2021-12-21 06:35] ASLManasa commented on #7
@Vanshikagoel0012 update?

[2021-12-21 08:39] shivangisehgal commented on #40
Full name : Shivangi Sehgal
GitHub Profile Link : https://github.com/shivangisehgal
Participant ID : 909
Approach for this Project : Preprocess data, perform EDA, try different classification algorithms like SVM, KNN etc. and find the best of the models by evaluating their errors.
Are you a participant of SWOC 2.0? YES

[2021-12-21 08:56] ASLManasa commented on #40
@shivangisehgal go ahead ! Try to complete it within 3 days.

[2021-12-21 13:49] Cody-coder017 commented on #42
Full name : Venkatakrishnan R
GitHub Profile Link :https://github.com/Cody-coder017
Participant ID : 1104
Approach for this Project : Using SVM classifiing fraud

[2021-12-21 14:48] ASLManasa commented on #42
@Cody-coder017 go ahead. Try to complete the issue within 3 days!

[2021-12-21 15:06] #42 closed

[2021-12-21 15:11] Cody-coder017 commented on #41
Full name : Venkatakrishnan R
GitHub Profile Link :https://github.com/Cody-coder017
Participant ID : 1104
Approach for this Project : Using NLP to train model on various sentiments
I would like to work on this issue

[2021-12-21 16:25] divya-gupta12 commented on #43
Full name : Divya Shanker Gupta
GitHub Profile Link : https://github.com/divya-gupta12
Participant ID : 1155
Approach for this Project : I will try linear regression , random forest regressor and few more algorithms to  find the best fitted model.
Are you a participant of SWOC 2.0?
 YES

[2021-12-21 17:40] Vanshikagoel0012 commented on #7
will upload it by tomorrow.

[2021-12-21 18:37] rohansharma4050 commented on #41
@Cody-coder017 Issue assigned to you, best of luck.

[2021-12-21 18:41] rohansharma4050 commented on #43
@divya-gupta12 Issue assigned to you, best of luck

[2021-12-22 03:05] abhisheks008 commented on #41
@Cody-coder017 complete the previous issue before starting this.

[2021-12-23 19:09] Cody-coder017 commented on #13
Full name : Venkatakrishnan R
GitHub Profile Link :https://github.com/Cody-coder017
Participant ID : 1104
Approach for this Project : Using time series models to predict the pickups
I would like to work on this issue

[2021-12-24 06:52] #41 closed

[2021-12-24 06:53] abhisheks008 commented on #13
@Cody-coder017 first complete the issue of Jeopardy bot then only you'll be assigned to any new issues.

[2021-12-24 13:57] #19 closed

[2021-12-24 14:01] abhisheks008 commented on #13
Issue assigned to you @Cody-coder017

[2021-12-24 15:20] ASLManasa opened #47 "Breast Cancer Wisconsin (Diagnostic)"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Breast Cancer Wisconsin (Diagnostic)
:red_circle: **Aim** : To Determine which features of data (measurements) are most important for diagnosing breast cancer and find out if breast cancer occurs or not.
:red_circle: **Dataset** : https://www.kaggle.com/uciml/breast-cancer-wisconsin-data
:red_circle: **Approach** : Try

[2021-12-24 15:59] ASLManasa opened #48 "Swedish Auto Insurance"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Swedish Auto Insurance Dataset.
:red_circle: **Aim** : To predict the total payment for all claims in thousands of Swedish Kronor, given the total number of claims. and perform Eda.
:red_circle: **Dataset** : https://www.kaggle.com/sunmarkil/auto-insurance-in-sweden-small-dataset
:red_circle: **Approach** : Try to use 3

[2021-12-24 16:01] ASLManasa opened #49 "Sonar Dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Sonar Dataset
:red_circle: **Aim** : To predict whether or not an object is a mine or a rock given the strength of sonar returns at different angles.
:red_circle: **Dataset** : https://www.kaggle.com/ypzhangsam/sonaralldata
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the

[2021-12-24 16:03] ASLManasa opened #50 "Banknote Dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Banknote Dataset
:red_circle: **Aim** :  To predict whether a given banknote is authentic given a number of measures taken from a photograph.
:red_circle: **Dataset** : https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and co

[2021-12-24 16:06] ASLManasa opened #51 "Enron Email Dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Enron Email Dataset
:red_circle: **Aim** : To detect fraudulent activities and perform EDA.
:red_circle: **Dataset** : https://www.kaggle.com/wcukierski/enron-email-dataset
:red_circle: **Approach** : ry to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm fo

[2021-12-25 06:35] ashish-reddy-20-08 commented on #51
Full name : M. Ashish Reddy
GitHub Profile Link : https://github.com/ashish-reddy-20-08
Participant ID : 528
Approach for this Project : EDA , NLP, Bag of words
Are you a participant of SWOC 2.0?
 YES

[2021-12-25 06:59] deepthi1107 commented on #47
Full name : Deepthi M
GitHub Profile Link : https://github.com/deepthi1107
Participant ID : 294
Approach for this Project: EDA, SVM, random forest, decision tree
Are you a participant of SWOC 2.0?
YES

[2021-12-25 08:17] ASLManasa commented on #51
@ashish-reddy-20-08 assigning to you ! Try to completeit within 3 days

[2021-12-25 08:18] ASLManasa commented on #47
@deepthi1107 assigning to you try to complete within 3 days.

[2021-12-25 08:23] ASLManasa opened #52 "MS COCO dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : MS COCO dataset
:red_circle: **Aim** : TTo detect objects from the image and then generate captions for them. LSTM (Long short term memory) network is responsible for generating sentences in English and CNN is used to extract features from image. To build a caption generator we have to combine these two models.
:red_cir

[2021-12-25 08:24] ASLManasa opened #53 "GTSRB (German traffic sign recognition benchmark) Dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : GTSRB (German traffic sign recognition benchmark) Dataset
:red_circle: **Aim** : To build a model using a deep learning framework that classifies traffic signs and also recognises the bounding box of signs. The traffic sign classification is also useful in autonomous vehicles for identifying signs and then take appropri

[2021-12-25 08:33] ASLManasa opened #54 "ImageNet dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : ImageNet dataset
:red_circle: **Aim** : To implement image classification on this huge database and recognise objects. CNN model (Convolutional neural networks) are necessary for this project to get accurate results.
:red_circle: **Dataset** : https://www.kaggle.com/c/imagenet-object-localization-challenge
:red_circle:

[2021-12-25 08:35] ASLManasa opened #55 "Cityscapes Dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Cityscapes Dataset
:red_circle: **Aim** : To perform image segmentation and detect different objects from a video on the road. Image segmentation is the process of digitally partitioning an image into various different categories like cars, buses, people, trees, roads, etc.
:red_circle: **Dataset** : https://www.kaggle.

[2021-12-25 08:37] ASLManasa opened #56 "Object 365 Dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Object 365 Dataset
:red_circle: **Aim** : To classify images captured from the camera and detect objects present in the image. Object detection deals with recognizing which object is present in the image along with the coordinates of the object.
:red_circle: **Dataset** : https://www.kaggle.com/c/open-images-2019-object

[2021-12-25 11:21] karishni commented on #52
Full name : Karishni Mehta
GitHub Profile Link : https://github.com/karishni
Participant ID : 466
Approach for this Project : Combine the LSTM model with CNN (please let me know if there are other ways to do it)
Are you a participant of SWOC 2.0?
 YES

[2021-12-25 14:13] deepthi1107 commented on #49
Full name : Deepthi M
GitHub Profile Link : https://github.com/deepthi1107
Participant ID : 294
Approach for this Project: EDA, SVM, random forest, decision tree
Are you a participant of SWOC 2.0?
YES

[2021-12-25 15:25] #47 closed

[2021-12-25 16:07] abhisheks008 commented on #49
Issue assigned @deepthi1107

[2021-12-25 16:09] abhisheks008 commented on #52
Issue assigned to you @karishni

[2021-12-25 19:58] Pratyush-IITBHU commented on #56
Full name: Pratyush Singh
GitHub Profile Link: https://github.com/Pratyush-IITBHU
Participant ID: 704
Approach for this Project: I will try both Faster R-CNN and Yolo-v4 darknet(using both prebuilt and own custom model). And better-performing model will be finalized.
Are you a participant of SWOC 2.0?
YES

[2021-12-25 20:02] Pratyush-IITBHU commented on #56
Full name: Pratyush Singh
GitHub Profile Link: https://github.com/Pratyush-IITBHU
Participant ID: 704
Approach for this Project: I will try both Faster R-CNN, R-CNN, and Yolo-v4 darknet(using both prebuilt and own custom model). And better-performing model will be finalized.
Are you a participant of SWOC 2.0?
YES

[2021-12-25 20:03] Pratyush-IITBHU commented on #56
Full name: Pratyush Singh
GitHub Profile Link: https://github.com/Pratyush-IITBHU
Participant ID: 704
Approach for this Project: I will try Faster R-CNN, R-CNN, and Yolo-v4 darknet(using both prebuilt and own custom model). And the best-performing model will be finalized.
Are you a participant of SWOC 2.0?
YES

[2021-12-25 20:09] Pratyush-IITBHU commented on #56
Full name: Pratyush Singh
GitHub Profile Link: https://github.com/Pratyush-IITBHU
Participant ID: 704
Approach for this Project: I will try Faster R-CNN, R-CNN, Yolo-v3, and Yolo-v4 darknet(using both prebuilt and own custom model). And the best-performing model will be finalized.
Are you a participant of SWOC 2.0?
YES

[2021-12-26 06:14] #18 closed

[2021-12-26 11:34] Pratyush-IITBHU commented on #56
Sir, are you not satisfied with my approach?

I can try to learn more algorithms and model techniques if above mentioned are very basic for this project.

Thank You

[2021-12-26 12:53] abhisheks008 commented on #56
Issue assigned @Pratyush-IITBHU

[2021-12-26 15:54] ASLManasa opened #59 "Photo sketching dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Photo sketching dataset
:red_circle: **Aim** : To build a model that can develop sketches automatically from the images. This will take an image as an input and generate a sketch image using computer vision techniques.
:red_circle: **Dataset** : https://www.kaggle.com/wanghaohan/imagenetsketch
:red_circle: **Approach**

[2021-12-27 03:55] abhisheks008 commented on #23
What's the update here @sankalp-srivastava

[2021-12-27 03:56] abhisheks008 commented on #4
What's the update here @suyogkokaje

[2021-12-27 03:56] abhisheks008 commented on #7
Hey @Vanshikagoel0012, what's the update here?

[2021-12-27 03:57] sankalp-srivastava commented on #23
Documentation is left and rest most of it is done.
I am having my end sem tomorrow so will update it till tomorrow night.

[2021-12-27 04:21] suyogkokaje commented on #4
Sorry for inconvenience. But my written and practical exams are going on in college. So I am unable to work on this issue. You can unassign me 😓 if anyone else is interested in working on this issue. Sorry again.

[2021-12-27 05:43] ASLManasa opened #60 "Years of experience and Salary dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Years of experience and Salary dataset
:red_circle: **Aim** : The purpose of this project is to use data transformation and machine learning to create a model that will predict a salary when given years of experience, job type.
:red_circle: **Dataset** : https://www.kaggle.com/rohankayan/years-of-experience-and-salary-d

[2021-12-27 07:28] Vanshikagoel0012 commented on #7
The dataset above can only be opened in UNIX operating system I have also messaged @abhisheks008  regarding this on discord.

[2021-12-27 16:55] abhisheks008 commented on #4
You can start working on it after your sem is over, if you wish @suyogkokaje

[2021-12-28 15:04] ahananupam33 commented on #53
Full name : Ahan Anupam
GitHub Profile Link: https://github.com/ahananupam33
Participant ID: 63
Approach for this Project: Classify the images into different categories by using CNN and tune the model to improve accuracy
Are you a participant of SWOC 2.0? YES

[2021-12-28 15:10] ASLManasa commented on #53
@ahananupam33 assigning to you . Try and complete within 3 days.

[2021-12-28 15:36] BhaswatiRoy commented on #60
Full name : Bhaswati Roy
GitHub Profile Link : https://github.com/BhaswatiRoy
Participant ID :
Approach for this Project : I will try linear regression ,lasso regression, random forest regressor and few more algorithms to find the best accuracy model.
Are you a participant of SWOC 2.0?
YES

[2021-12-28 15:40] ASLManasa commented on #60
@BhaswatiRoy assigning it to you Try and complete it within 3days.

[2021-12-28 15:41] BhaswatiRoy commented on #60
Okay

[2021-12-28 16:25] #23 closed

[2021-12-28 16:47] sankalp-srivastava commented on #50
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : EDA and creating different models and comparing them.
Are you a participant of SWOC 2.0?
[x] YES
[ ] NO

I am having my end sem exams happening right now so I would need 7-10 days of time for this issue.

[2021-12-30 07:45] abhisheks008 commented on #7
@Vanshikagoel0012 sorry for the inconvenience caused from my side. You can use a suitable dataset as pe your choice to complete this project. No issues.

[2021-12-30 08:36] Vanshikagoel0012 commented on #7
No problem,I will use the dataset according to my convenience

[2021-12-30 10:28] abhisheks008 commented on #7
Yup go ahead @Vanshikagoel0012

[2021-12-30 12:23] HarshiniMarappan commented on #16
@abhisheks008 can you unassign this issue for me, apologies 🙏🙏

[2021-12-30 13:51] #40 closed

[2021-12-30 16:36] karishni commented on #52
I would like to work on the flickr8k (https://www.kaggle.com/adityajn105/flickr8k) dataset instead of ms coco

[2021-12-31 03:22] ASLManasa commented on #52
@karishni okay go ahead.

[2021-12-31 04:29] abhisheks008 commented on #16
Yeah sure no worries @HarshiniMarappan

[2021-12-31 04:31] abhisheks008 commented on #13
Hello @Cody-coder017 , what's the update here?

[2021-12-31 04:35] Cody-coder017 commented on #13
At a good stage proceeding, encountered some issues with my desktop ,so just holding up the works,trying to do asap

[2021-12-31 13:23] #60 closed

[2021-12-31 15:59] sankalp-srivastava commented on #43
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : EDA and then creating different models and comparing them.
Are you a participant of SWOC 2.0?

[x] YES
[ ] NO

[2022-01-01 03:28] sankalp-srivastava commented on #52
This is duplicate of caption generation from images

[2022-01-01 03:28] sankalp-srivastava commented on #52
@abhisheks008

[2022-01-01 04:27] ASLManasa commented on #52
@sankalp-srivastava  the dataset is very large(28gb) hence she has taken a  smaller one.

[2022-01-01 04:28] ASLManasa commented on #43
@sankalp-srivastava  go ahead. Try  to complete within 3 days.

[2022-01-01 04:37] #50 closed

[2022-01-01 04:41] abhisheks008 commented on #52
@sankalp-srivastava Don't worry, as she is going to use a different dataset, let's check the accuracy and it will also make a comparison of the two datasets.

[2022-01-01 11:57] Pratyush-IITBHU commented on #56
Respected Sir,

                     I have prepared the RPN and ROI pooling class for faster Faster RCNN, but when I tried to download the dataset from the Kaggle source, it asked me for account verification via mobile number.

But no matter which mobile number I wrote for verification, it is giving the message "The number can't be verified". I even deleted and re-signed-in to my account. But sti

[2022-01-01 12:43] abhisheks008 commented on #56
@Pratyush-IITBHU you can use other dataset by your choice and jaught down the project. No issues. As this problem is keep popping up whenever you want to call the API and database rejects your call by showing an error message. Many people are facing this, hence you can use different dataset for this project.

[2022-01-02 05:46] ASLManasa opened #66 "Netflix Movies and TV Shows"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Netflix Movies and TV Shows
:red_circle: **Aim** : To understand what content is available in different countries ,Identify similar content by matching text-based features ,Network analysis of Actors / Directors and find interesting insights ,Does Netflix has more focus on TV Shows than movies in recent years?. Perform

[2022-01-02 05:48] ASLManasa opened #67 "Students Performance in Exams"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Students Performance in Exams
:red_circle: **Aim** : To understand the influence of the parents background, test preparation etc on students performance. Perform EDA.
:red_circle: **Dataset** : https://www.kaggle.com/spscientist/students-performance-in-exams
:red_circle: **Approach** : Try to use 3-4 algorithms to imple

[2022-01-02 08:17] Pratyush-IITBHU commented on #56
ok sir

[2022-01-03 05:29] #53 closed

[2022-01-03 14:19] tandrimasingha commented on #59
Name-Tandrima Singha
Github Link-https://github.com/tandrimasingha
Participant ID-1044
Approach- Use OpenCV library to convert image to sketch and check which algorithm works best for Photo Sketching Dataset.
Are you a participant of SWOC? Yes

[2022-01-03 14:50] ASLManasa commented on #59
@tandrimasingha assigning to you try to complete with 3 days.

[2022-01-03 14:56] tandrimasingha commented on #67
Name-Tandrima Singha
Github Link-https://github.com/tandrimasingha
Participant ID-1044
Approach- Using Feature Engineering, Feature Extraction, Manipulation of Data, Data Analysis, Data Visualization and at last applying Classification Algorithms such as Logistic Regression, SVM etc from Machine Learning to Separate Students with different grades
Are you a participant of SWOC? Yes

[2022-01-03 14:59] abhisheks008 commented on #67
One issue at a time @tandrimasingha

[2022-01-03 15:01] tandrimasingha commented on #59
please Sir can you unassign this to me and assign the second topic. Sorry for this

[2022-01-03 15:02] tandrimasingha commented on #67
Sir, Please assign this to me and unassign the Photo Sketch Dataset

[2022-01-03 15:02] abhisheks008 commented on #67
Okay assigning to you @tandrimasingha

[2022-01-04 15:22] #67 closed

[2022-01-05 04:41] abhisheks008 commented on #4
@suyogkokaje have you done with your exams?

[2022-01-05 04:42] abhisheks008 commented on #52
@karishni What's the update here for this project?

[2022-01-05 04:47] suyogkokaje commented on #4
Yup @abhisheks008  my exams are finished. I have started working. Will make PR within a week. Is it okay? 😅

[2022-01-05 07:43] tandrimasingha commented on #48
Full name : Tandrima Singha
GitHub Profile Link:https://github.com/tandrimasingha
Participant ID:1044
Approach for this Project: To predict the total payment for all claims in thousands of Swedish Kronor, given the total number of claims. and perform Eda.
Are you a participant in SWOC 2.0?
YES

[2022-01-05 08:42] ASLManasa commented on #48
@tandrimasingha assigning to you try and complete in within 3 days.

[2022-01-05 17:40] karishni commented on #52
I’m working on it, had some issue with my laptop due to which I couldn’t work for a few day, sorry for the delay

[2022-01-06 06:55] #48 closed

[2022-01-06 20:36] krishna-NIT commented on #17
I want to work on this!

Full name: Shrikrushna Bhagwat
GitHub Profile Link: https://github.com/krishna-NIT
Participant ID: 930
Approach for this Project: First do an EDA then finalize the model with the highest accuracy for Fraud Email Detection.
Are you a participant of SWOC 2.0?
YES

[2022-01-06 20:41] krishna-NIT commented on #59
I want to work on this!

Full name: Shrikrushna Bhagwat
GitHub Profile Link: https://github.com/krishna-NIT
Participant ID: 930
Approach for this Project: Using OpenCV and then will try with different algo
Are you a participant of SWOC 2.0?
YES

[2022-01-06 20:46] krishna-NIT commented on #13
Sure, I want to be in the waiting list, if suppose in case, due some issue, if assigned one is not able to complete
Then I'll  take it from here

Full name: Shrikrushna Bhagwat
GitHub Profile Link: https://github.com/krishna-NIT
Participant ID: 930
Approach for this Project: EDA, SVM, random forest, decision tree, time series module for predictions
Are you a participant of SWOC 2.0?
YES

[2022-01-06 20:47] krishna-NIT commented on #51
I want to work on this!

Full name: Shrikrushna Bhagwat
GitHub Profile Link: https://github.com/krishna-NIT
Participant ID: 930
Approach for this Project: EDA , NLP, Bag of words
Are you a participant of SWOC 2.0?
YES

Soon after my exam I'll complete it before 20 jan

[2022-01-07 05:13] ASLManasa commented on #51
@ashish-reddy-20-08  what's the update?

[2022-01-07 05:14] ASLManasa commented on #59
@krishna-NIT assigning to you

[2022-01-07 09:00] Cody-coder017 commented on #13
@abhisheks008  there is a steady progress EDA is done working on time series and readme file
since my end semester is on i could not work at expected but im trying my best

[2022-01-07 09:15] krishna-NIT commented on #13
@Cody-coder017 Don't worry, the delay is accepted, We will be waiting bro, take your time, let me know in case if you need any help, I'll be happy to learn from you too!

[2022-01-07 09:16] Cody-coder017 commented on #13
@krishna-NIT  sure

[2022-01-07 13:06] #43 closed

[2022-01-07 13:14] abhisheks008 commented on #4
Yup that's fine @suyogkokaje

[2022-01-07 13:15] abhisheks008 commented on #17
@iaryangoyal What's the update here?

[2022-01-07 14:53] krishna-NIT commented on #59
@ASLManasa Can you provide me ways or names of some algo to use here?

[2022-01-07 17:11] tandrimasingha commented on #49
@abhisheks008 Sir, I want to work on this project.

Full name : Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Participant ID: 1044
Approach for this Project: To predict whether or not an object is a mine or a rock given the strength of sonar returns at different angles for which we need to use a classification algorithm. Performing EDA
Are you a participant in SWOC 2.0?
YE

[2022-01-07 17:22] ASLManasa commented on #49
@deepthi1107 what is the update?

[2022-01-07 17:27] ASLManasa commented on #59
@krishna-NIT Do check the Kaggle code section you may get some idea, discussion section also. (GAN's) are used.

[2022-01-07 17:28] ASLManasa commented on #59
@krishna-NIT You don't want to work on this project?

[2022-01-07 17:59] krishna-NIT commented on #59
@ASLManasa I am bit confused, what will be there in data folder because Kaggle data set has already converted to sketch images

[2022-01-07 18:36] krishna-NIT opened #72 "IPL Winning Match Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : IPL Winning Match Prediction
:red_circle: **Aim** : Predict the winning Team made by a different player with different bowlers, batsmen, and captains. Will be finalizing the best method to be used on behalf of accuracy. Predicting some outcomes of upcoming matches
:red_circle: **Dataset** : https://bit.ly/34SRn3b
:red_c

[2022-01-08 06:29] krishna-NIT commented on #72
@abhisheks008 I want to work on this so, Please assign it to me 👍🏻

[2022-01-08 11:39] krishna-NIT opened #73 "Vehicle Insurance Claim Fraud Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Vehicle Insurance Claim Fraud Detection
:red_circle: **Aim** : Vehicle insurance fraud involves conspiring to make false or exaggerated claims involving property damage or personal injuries following an accident so, It will Detect fraud claims and will help Insurance Firms to verify them properly again.
:red_circle: **D

[2022-01-08 11:40] krishna-NIT commented on #73
I wanna start with this, Kindly please assign it to me so that I can move ahead

[2022-01-08 12:15] abhisheks008 commented on #73
Can you mention the particulars as mentioned in the issue guidelines @krishna-NIT

[2022-01-08 12:16] abhisheks008 commented on #72
One issue at a time @krishna-NIT

[2022-01-08 12:20] krishna-NIT commented on #72
Yes @abhisheks008, You can assign me, Right now I have 0 assigned issues

[2022-01-08 12:29] abhisheks008 commented on #72
Try to implement 4-5 algorithms for the model creation and check the accuracy of the algorithms to find out the best fitted model for this project @krishna-NIT.

Issue assigned to you.

[2022-01-08 14:50] tandrimasingha commented on #49
Sir if she could not do this. Please assign this project to me if possible. I'll do it in two days.

[2022-01-08 16:00] deepthi1107 commented on #49
sir by tomorrow i will do pr, sorry for being late

[2022-01-08 17:09] neelshah2409 opened #74 "Crypto Currency Price Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** :Crypto Currency  Price Prediction
:red_circle: **Aim** :Buying and selling result in a change in the price of any cryptocurrency, but buying and selling trends depend on many factors. Using machine learning for cryptocurrency price prediction can only work in situations where prices change due to historical prices that p

[2022-01-08 17:21] neelshah2409 opened #75 "Stress Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Stress Detection
:red_circle: **Aim** : Stress detection is a challenging task, as there are so many words that can be used by people on their posts that can show whether a person is having psychological stress or not. So we would find if the person is in stress or not .
:red_circle: **Dataset** : https://www.kaggle.com

[2022-01-09 04:34] #72 closed

[2022-01-09 04:47] abhisheks008 commented on #73
@krishna-NIT do you wanna do this project?

[2022-01-09 06:08] tandrimasingha commented on #73
Full name : Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Participant ID: 1044
Approach for this Project: This is a classification problem where I need to detect fraud detection using XGBoost, Decision Tree, and Random Forest.
Are you a participant in SWOC 2.0?
YES

[2022-01-09 07:27] krishna-NIT commented on #73
Yes sure, Please assign me, so that I'll make pr
I am already done with some part in my local machine

[2022-01-09 07:59] abhisheks008 commented on #73
@tandrimasingha this issue already assigned to @krishna-NIT. You can try out other issues.

[2022-01-09 08:31] tandrimasingha commented on #73
Sir I commented first in a proper manner.

[2022-01-09 09:50] Swastyy commented on #66
Hi @ASLManasa , I want to take this issue.
- SWASTIKA GUPTA
- [Swastyy](https://github.com/Swastyy)
- not sure where it is mentioned.
- Country wise analysis for trending shows/binge, more searches of tv shows or movies in netflix by analysing the test data
- Yes, I am a participant.

Can you tell me how the score for fixing this issue will be calculated? Thanks.

[2022-01-09 12:01] ASLManasa commented on #66
@Swastyy ok Assigning to you.  Try completing within 3 days. You can check the kaggle code section. You will get an idea.

[2022-01-09 14:38] abhisheks008 commented on #66
![image](https://user-images.githubusercontent.com/68724349/148686996-11771f32-aee9-4f73-87af-567d70cd9b5f.png)

Is this you?

[2022-01-09 15:34] Swastyy commented on #66
Yes, where did you get it?

[2022-01-09 15:59] abhisheks008 commented on #66
If you have joined the ml-crate channel created by SWOC team then I think you must have knew it.

[2022-01-11 13:43] ashish-reddy-20-08 commented on #51
I will complete it within 2 days mam, I am actually travelling back to hometown.

[2022-01-11 15:49] neelshah2409 opened #77 "Number Plate Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Number Plate Prediction
:red_circle: **Aim** : To get the number plate of the vehicle which is on a quiet high speed and breaking the traffic.
:red_circle: **Dataset** :https://www.kaggle.com/dataturks/vehicle-number-plate-detection/download
:red_circle: **Approach** :Try to use 3-4 algorithms to implement the models an

[2022-01-11 15:57] neelshah2409 opened #78 "Heart Disease Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Heart Disease Prediction
:red_circle: **Aim** : Heart disease can be predicted based on various symptoms such as age, gender, heart rate, etc. and reduces the death rate of heart patients.
:red_circle: **Dataset** :https://raw.githubusercontent.com/amankharwal/Website-data/master/heart.csv
:red_circle: **Approach** :Try

[2022-01-11 16:02] neelshah2409 opened #79 "Next Word Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Next Word Prediction
:red_circle: **Aim** : To predict the next word according to the data present and collected in our database.
:red_circle: **Dataset** : https://drive.google.com/file/d/1GeUzNVqiixXHnTl8oNiQ2W3CynX_lsu2/view
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-01-11 16:06] neelshah2409 opened #80 "Fake Currency Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Fake Currency Detection
:red_circle: **Aim** : To overcome the difficulty in finding the fake currency ,we need to build a model with maximum accuracy.
:red_circle: **Dataset** :https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data
:red_circle: **Approach** :Try to use 3-4 algorithms to implement the model

[2022-01-11 16:13] neelshah2409 opened #81 "Resume Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Resume Classification
:red_circle: **Aim** :The task of selecting the best talent among many others is  Resume classification.
:red_circle: **Dataset** : https://www.kaggle.com/dhainjeamita/updatedresumedataset/download
:red_circle: **Approach** :Try to use 3-4 algorithms to implement the models and compare all the algo

[2022-01-11 16:37] sankalp-srivastava commented on #78
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : EDA and creating different models and comparing them.
Are you a participant of SWOC 2.0?

- [x] YES
- [ ] NO

[2022-01-11 17:26] #78 closed

[2022-01-11 17:32] sankalp-srivastava commented on #80
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : EDA and creating different models and comparing them.
Are you a participant of SWOC 2.0?

- [x] YES
- [ ] NO

[2022-01-11 20:15] krishna-NIT commented on #73
Data Set has int64(9), object(24)
These 24 Columns are taking time, will complete it soon
Sorry for delay

[2022-01-12 03:38] abhisheks008 commented on #80
Issue assigned to you @sankalp-srivastava

[2022-01-12 03:42] abhisheks008 commented on #4
Hey @suyogkokaje what's the update here. You've asked for a week and I have provided that time. Now you are running out of time.

[2022-01-12 03:42] abhisheks008 commented on #13
@Cody-coder017 what's the update here?

[2022-01-12 03:43] abhisheks008 commented on #17
@iaryangoyal If you don't reply here, you will be unassigned from this issue.

[2022-01-12 03:44] abhisheks008 commented on #20
@Revanth-shivakumar It's been 25 days, what's the update here. Reply ASAP.

[2022-01-12 03:44] abhisheks008 commented on #22
@yagyesh-bobde It's been 27 days. What's the update here. Reply ASAP.

[2022-01-12 03:45] abhisheks008 commented on #49
@deepthi1107 what's the update here?

[2022-01-12 03:46] abhisheks008 commented on #56
@Pratyush-IITBHU what's the update here?

[2022-01-12 04:01] deepthi1107 commented on #49
sorry sir for being late, i will do it by tomorrow.

[2022-01-12 04:25] Vanshikagoel0012 commented on #7
DUE TO SOME PERSONAL REASON I WAS NOT ABLE TO FOCUS ON THAT PLEASE REASSIGN ME THIS
HOUSE PRICE PREDICTION MODEL
I HAVE COMPLETED IT  I JUST NEED TO MAKE SOME EDITS

[2022-01-12 04:43] Cody-coder017 commented on #13
need 2 more days , i will complete it

[2022-01-12 05:59] abhisheks008 commented on #7
I know everyone is having their personal problems, but it's your responsibility to provide an update to us, otherwise how can we assess your situation and all?

Anyways assigning to you again and make a fresh PR for this issue, also follow the proper folder distribution for the project.

@Vanshikagoel0012

[2022-01-12 06:00] abhisheks008 commented on #13
Okay. @Cody-coder017

[2022-01-12 06:11] Vanshikagoel0012 commented on #7
Thank you so much for understanding

[2022-01-12 17:02] tandrimasingha commented on #74
Full name: Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Participant ID: 1044
Approach for this Project: EDA, using different ML algorithms to find the price relation here.
Are you a participant in SWOC 2.0?
YES

[2022-01-12 18:53] Pratyush-IITBHU commented on #56
sir,

 I will send it in 4 days. Actually, the preparation of large data was very time consuming and cumbersome.

 It is almost completed.

 Thank you

[2022-01-13 17:04] #13 closed

[2022-01-13 17:39] Cody-coder017 commented on #59
Full name : Venkatakrishnan R
GitHub Profile Link :https://github.com/Cody-coder017
Participant ID : 1104
Approach for this Project : Trying to play around Style GAN
I would like to work on this issue
Are you a participant of SWOC 2.0?
YES

[2022-01-13 17:53] ASLManasa commented on #59
@Cody-coder017  assigning to you. Try to complete with 3 days.

[2022-01-13 18:35] tandrimasingha commented on #74
Hello @neelshah2409 Please assign this to me

[2022-01-13 18:41] neelshah2409 commented on #74
Issue assigned, Go ahead 🎊

[2022-01-14 13:30] #74 closed

[2022-01-15 04:17] #7 closed

[2022-01-15 06:32] Pratyush-IITBHU commented on #56
Sir, I need your help.

While Training the faster R-CNN model, I got stuck in this line. I really don't know why is it happening. Because I checked, none of the variables declared here is none!

I really don't know why it is showing this error

![Screenshot (1358)](https://user-images.githubusercontent.com/78396437/149611903-5a6740ca-baf5-4e87-bcca-e951f41ffb8c.png)
![Screenshot (1359)](https://us

[2022-01-15 07:53] abhisheks008 commented on #56
Check the line no. 67 of your `utils` file, there must be some `None` datatype used.

[2022-01-15 11:22] Pratyush-IITBHU commented on #56
but, how I can check it??

I mean I should not change the built-in codes of our environment??

I don't really know much about the backend python codes.

[2022-01-17 06:11] BhaswatiRoy commented on #75
Full name : Bhaswati Roy
GitHub Profile Link : https://github.com/BhaswatiRoy
Approach for this Project : NLP techniques to preprocess the texts and predict outputs
Are you a participant of SWOC 2.0?
YES

[2022-01-17 15:55] tandrimasingha commented on #4
Sir I want to work on this issue.

Full name: Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Participant ID: 1044
Approach for this Project: Using unsupervised learning algorithms We have to segment customers and classify them. Perform EDA
Are you a participant of SWOC 2.0?
YES

[2022-01-19 07:35] sankalp-srivastava commented on #80
This dataset is duplicate of Banknote issue #50  . I have already made notebook on this.

[2022-01-19 09:34] #73 closed

[2022-01-19 09:40] abhisheks008 commented on #80
Thanks for informing

[2022-01-19 09:41] #80 closed

[2022-01-20 04:13] abhisheks008 commented on #4
@tandrimasingha are you willing to solve this issue?

[2022-01-20 04:16] tandrimasingha commented on #4
Yes sir
I want to do this

[2022-01-20 04:20] abhisheks008 commented on #4
Great then, this issue is assigned to you. @tandrimasingha

[2022-01-20 06:11] krishna-NIT commented on #22
@abhisheks008 Can I start over this, I am interested

Full name : Shrikrushna Bhagwat
GitHub Profile Link : https://github.com/krishna-NIT
Participant ID : 930
Approach for this Project : EDA First and then some good plotting and finally presentation with conclusions
Are you a participant of SWOC 2.0?
YES

[2022-01-20 07:05] abhisheks008 commented on #22
Yeah you can work on it @krishna-NIT

[2022-01-20 16:25] #4 closed

[2022-01-21 14:19] abhisheks008 opened #88 "Big Mart Sales Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Big Mart Sales Prediction
:red_circle: **Aim** : The aim of this project is to predict the sales using the dataset.
:red_circle: **Dataset** : https://www.kaggle.com/devashish0507/big-mart-sales-prediction
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to fin

[2022-01-21 14:23] abhisheks008 opened #89 "Amazon Alexa Reviews"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Amazon Alexa Reviews
:red_circle: **Aim** : Finding out different patterns in the reviews of the Alexa.
:red_circle: **Dataset** : https://www.kaggle.com/sid321axn/amazon-alexa-reviews
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted

[2022-01-21 14:24] abhisheks008 opened #90 "Amazon Books Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Amazon Books Analysis
:red_circle: **Aim** : Analysis of the books from Amazon website.
:red_circle: **Dataset** : https://www.kaggle.com/sootersaalu/amazon-top-50-bestselling-books-2009-2019
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best

[2022-01-21 14:26] abhisheks008 opened #91 "Air Quality Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Air Quality Prediction
:red_circle: **Aim** : Predict the air quality depending on different aspects of the dataset.
:red_circle: **Dataset** : https://www.kaggle.com/rohanrao/air-quality-data-in-india
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find ou

[2022-01-21 14:28] abhisheks008 opened #92 "Advertisement Click Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Advertisement Click Prediction
:red_circle: **Aim** : Predict the clicks on the advertisement depending on different attributes and user inputs of the dataset.
:red_circle: **Dataset** : https://www.kaggle.com/jahnveenarang/cvdcvd-vd
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compa

[2022-01-21 14:29] abhisheks008 opened #93 "Alpaca Identification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Alpaca Identification
:red_circle: **Aim** : Identify the images of the Alpaca using a machine learning model/framework.
:red_circle: **Dataset** : https://www.kaggle.com/sid4sal/alpaca-dataset-small
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out

[2022-01-21 14:31] abhisheks008 opened #94 "Bitcoin Price Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Bitcoin Price Prediction
:red_circle: **Aim** : Create a ML model which will predict the prices of the Bitcoin.
:red_circle: **Dataset** : https://www.kaggle.com/vikramjeetsinghs/bitcoin-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the b

[2022-01-21 14:32] abhisheks008 opened #95 "Body Fat Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Body Fat Prediction
:red_circle: **Aim** : Create a ML model, for predicting the body fat.
:red_circle: **Dataset** : https://www.kaggle.com/fedesoriano/body-fat-prediction-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted alg

[2022-01-21 14:34] abhisheks008 opened #96 "Concrete Strength Calculation"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Concrete Strength Calculation
:red_circle: **Aim** : Calculate the strength of the concrete using Machine Learning techniques.
:red_circle: **Dataset** : https://www.kaggle.com/prathamtripathi/regression-with-neural-networking
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-01-21 14:40] abhisheks008 commented on #59
@Cody-coder017 what's update here?

[2022-01-21 14:41] abhisheks008 commented on #56
@Pratyush-IITBHU have you resolved your problem/error?

[2022-01-21 14:43] abhisheks008 commented on #49
@deepthi1107 ?

[2022-01-21 14:44] abhisheks008 commented on #52
@karishni ?

[2022-01-21 14:45] abhisheks008 commented on #66
@Swastyy what's the update here for this project?

[2022-01-21 14:47] Cody-coder017 commented on #59
work is going ,the work is slow because I got high fever so takes longer time than expected

[2022-01-21 17:23] Pratyush-IITBHU commented on #56
Sir, actually I am facing a lot of errors, I don't know this is happening, sometimes it's a version error, GPU-CPU TensorFlow problem, theono-TensorFlow(assertion error) Keras backend problem, etc. I have even posted my problems on StackOverflow and discords, but the rectification of one problem gives a newer one.  Once My code even got compiled without any error but its performance was way too lo

[2022-01-21 17:24] Pratyush-IITBHU commented on #56
some errors are even so complicated that are not even answered on the web !! like this one:

InvalidArgumentError: OpKernel 'SparseConcat' has constraint on attr 'T' not in NodeDef '[N=0, concat_dim=0]', KernelDef: 'op: "SparseConcat" device_type: "CPU" constraint { name: "T" allowed_values { list { type: DT_UINT64 } } }' [Op:SparseConcat]

[2022-01-22 05:46] karishni commented on #52
@abhisheks008 Hey, I had messaged you stating that my exams are going on and won’t be able to complete this till the end of the month, but this will be done by the end of next week

[2022-01-22 05:51] abhisheks008 commented on #52
OKAY!

[2022-01-24 14:38] abhisheks008 opened #98 "Digit Recognizer Project"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Digit Recognizer Project
:red_circle: **Aim** : Create a Machine Learning model which will predict the digits as per the user input.
:red_circle: **Dataset** : https://www.kaggle.com/c/digit-recognizer/data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to fi

[2022-01-24 14:41] abhisheks008 opened #99 "FIFA 19 Dataset Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : FIFA 19 Dataset Analysis
:red_circle: **Aim** : Analyze different aspects of the dataset and provide the pattern of the dataset from the visualization.
:red_circle: **Dataset** : https://www.kaggle.com/karangadiya/fifa19
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the al

[2022-01-24 14:44] abhisheks008 opened #100 "Pets Images Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Pets Images Classification
:red_circle: **Aim** : Create a machine learning model with highest accuracy which can predict the images of the pets.
:red_circle: **Dataset** : https://public.roboflow.com/object-detection/oxford-pets
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare a

[2022-01-25 15:03] tandrimasingha commented on #95
Full name : Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Approach for this Project: Creating an ML model, for predicting the body fat using regression
Are you a participant in SWOC 2.0?
YES

[2022-01-25 15:17] abhisheks008 commented on #95
Issue assigned to you @tandrimasingha

[2022-01-25 21:48] tandrimasingha commented on #88
Full name: Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Participant ID: 1044
Approach for this Project: The aim of this project is to predict the sales using different algoritms. Perform EDA.
Are you a participant of SWOC 2.0?
YES

[2022-01-26 04:43] abhisheks008 commented on #88
Issue assigned to you @tandrimasingha

[2022-01-26 11:52] sankalp-srivastava commented on #91
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : EDA and creating different models and comparing them.
Are you a participant of SWOC 2.0?

- [x] YES
- [ ] NO

[2022-01-26 13:14] abhisheks008 commented on #91
Issue assigned to you @sankalp-srivastava

[2022-01-28 04:05] Cody-coder017 commented on #59
can I be unassigned , since my health is bad as of now

[2022-01-29 06:56] sankalp-srivastava commented on #96
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : EDA and creating different models and comparing them.
Are you a participant of SWOC 2.0?

- [x] YES
- [ ] NO

[2022-01-29 07:05] #91 closed

[2022-01-29 07:06] #88 closed

[2022-01-29 07:08] abhisheks008 commented on #96
Go ahead @sankalp-srivastava

[2022-01-30 14:45] PurnaChandraMansingh commented on #98
I have registered for JGEC Winter of code, can I work on this?

[2022-01-30 14:50] PurnaChandraMansingh commented on #79
I have registered for JGEC Winter of code, can I work on this?

[2022-01-30 14:57] abhisheks008 commented on #79
Yes @PurnaChandraMansingh you can, wait for the coding period to start from Feb 1.

[2022-01-30 15:05] PurnaChandraMansingh commented on #79
Ok, Thank you

[2022-01-31 13:52] abhisheks008 opened #104 "Identify the images of Cats and Dogs"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Cats and Dogs Identification
:red_circle: **Aim** : Create a ML model which will identify the images of the cats and dogs.
:red_circle: **Dataset** : https://www.kaggle.com/chetankv/dogs-cats-images
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out t

[2022-01-31 13:54] abhisheks008 opened #105 "Classify the emojis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Emoji Classification
:red_circle: **Aim** : Classify the emojis using OpenCV module.
:red_circle: **Dataset** : https://www.kaggle.com/msambare/fer2013
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for the model by check

[2022-01-31 13:56] abhisheks008 opened #106 "Entrepreneurial Capacity in Student"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Entrepreneurial Capacity in Student
:red_circle: **Aim** : Create a machine learning model with highest accuracy which will predict the Entrepreneurial Capacity in Student.
:red_circle: **Dataset** : https://www.kaggle.com/namanmanchanda/entrepreneurial-competency-in-university-students
:red_circle: **Approach** : Try t

[2022-01-31 13:57] abhisheks008 opened #107 "Image Caption Generator"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Image Caption Generator
:red_circle: **Aim** : Create a ML model which will generate the captions of the images.
:red_circle: **Dataset** : https://www.kaggle.com/hsankesara/flickr-image-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the b

[2022-01-31 13:59] abhisheks008 opened #108 "NYPD Shooting Data Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : NYPD Shooting Data Analysis
:red_circle: **Aim** : Analyze the shooting data of the NYPD.
:red_circle: **Dataset** : https://www.kaggle.com/saurabhshahane/nypd-shooting-data-historic
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted a

[2022-01-31 14:00] abhisheks008 opened #109 "Quora Insincere Questions Classification Analysis & Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Quora Insincere Questions Classification Analysis & Prediction
:red_circle: **Aim** : This project will help us in classifying and detecting the toxic comments in quora.
:red_circle: **Dataset** : https://www.kaggle.com/c/quora-insincere-questions-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to i

[2022-01-31 14:01] abhisheks008 opened #110 "World Mortality Rate Analysis and Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : World Mortality Rate Analysis and Prediction
:red_circle: **Aim** : This project will help us in analyzing and predicting the mortality rate using the provided dataset.
:red_circle: **Dataset** : https://www.kaggle.com/navinmundhra/world-mortality
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the mo

[2022-01-31 14:03] abhisheks008 opened #111 "Body Posture Detection and Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Body Posture Detection and Prediction
:red_circle: **Aim** : This project will detect the body postures and predict accordingly.
:red_circle: **Dataset** : https://www.kaggle.com/c/body-posture-and-movement/data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms

[2022-01-31 14:04] abhisheks008 opened #112 "Pneumonia Disease Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Pneumonia Disease Prediction
:red_circle: **Aim** : This project will detect the pneumonia disease and predict accordingly.
:red_circle: **Dataset** : https://www.kaggle.com/broach/weekly-cdc-pneumonia-cases
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to f

[2022-01-31 14:06] abhisheks008 opened #113 "Lung Segmentation Model"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Lung Segmentation Model
:red_circle: **Aim** : This project will help us to segment the lungs and identify accordingly.
:red_circle: **Dataset** : https://wiki.cancerimagingarchive.net/display/Public/Lung+CT+Segmentation+Challenge+2017
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and com

[2022-01-31 14:08] abhisheks008 opened #114 "Music Generation Model"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Music Generation Model
:red_circle: **Aim** : This project will help us to create a model which will generate music.
:red_circle: **Dataset** : https://www.kaggle.com/karnikakapoor/music-generation-lstm/data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to f

[2022-01-31 14:10] abhisheks008 opened #115 "California Environmental Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : California Environmental Analysis
:red_circle: **Aim** : Analyse different aspects of the environmental changes of California.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/chelseazaloumis/cimis-dataset-with-fire-target
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compar

[2022-01-31 14:12] abhisheks008 opened #116 "US Household Income Distribution Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : US Household Income Distribution Analysis
:red_circle: **Aim** : This project will analyze the distribution of the income data of the households of US.
:red_circle: **Dataset** : https://www.kaggle.com/yamqwe/2018-w3-u-s-household-income-distribution-by-stae
:red_circle: **Approach** : Try to use 3-4 algorithms to imple

[2022-01-31 14:13] abhisheks008 opened #117 "UK's Favourite Chocolate Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : UK's Favourite Chocolate Analysis
:red_circle: **Aim** : This project will analyze the data of the best selling chocolates of UK.
:red_circle: **Dataset** : https://www.kaggle.com/yamqwe/2018-w13-what-is-the-uk-s-favorite-chocolate-bare
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and co

[2022-01-31 14:15] abhisheks008 opened #118 "Top Cryptocurrency Analysis and Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Top Cryptocurrency Analysis and Prediction
:red_circle: **Aim** : This project will analyze the data and identify the top crypto of 2022.
:red_circle: **Dataset** : https://www.kaggle.com/majyhain/top-100-cryptocurrency-2022
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all th

[2022-01-31 14:16] abhisheks008 opened #119 "Motion Recognition using Heatmap"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Motion Recognition using Heatmap
:red_circle: **Aim** : This project will identify the motions from the given heatmaps.
:red_circle: **Dataset** : https://www.kaggle.com/rupakroy/motion-heatmap-opencv
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out

[2022-01-31 14:18] abhisheks008 opened #120 "Consumer Price Indexes"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Consumer Price Indexes.
:red_circle: **Aim** : This project will analyze the data of the consumer prices.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/satyampd/consumer-price-index-india-inflation-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorit

[2022-01-31 14:19] abhisheks008 opened #121 "Cyberbullying Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Cyberbullying Classification.
:red_circle: **Aim** : This project will classify the cyberbullying and provide a visualization about it.
:red_circle: **Dataset** : https://www.kaggle.com/andrewmvd/cyberbullying-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all th

[2022-01-31 14:21] abhisheks008 opened #122 "Named Entity Recognition (NER) Corpus"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Named Entity Recognition (NER) Corpus
:red_circle: **Aim** : Task of categorizing the entities in a text into categories like names of persons, locations, organizations, etc.
:red_circle: **Dataset** : https://www.kaggle.com/naseralqaydeh/named-entity-recognition-ner-corpus
:red_circle: **Approach** : Try to use 3-4 alg

[2022-01-31 14:22] abhisheks008 opened #123 "McDonalds India Menu Nutrition Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : McDonalds India Menu Nutrition Analysis
:red_circle: **Aim** : Analyze the nutrition chart from the menu.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/deepcontractor/mcdonalds-india-menu-nutrition-facts
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algori

[2022-01-31 14:24] abhisheks008 opened #124 "Isekai Anime Light Novel Titles and Descriptions"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Isekai Anime Light Novel Titles and Descriptions
:red_circle: **Aim** : Analyze the titles and descriptions of Isekai Anime.
:red_circle: **Dataset** : https://www.kaggle.com/andy8744/isekai-light-novel-titles-and-descriptions
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-01-31 14:25] abhisheks008 opened #125 "Women's E-Commerce Clothing Reviews"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Women's E-Commerce Clothing Reviews
:red_circle: **Aim** : This project is to identify the reviews of the clothings for women.
:red_circle: **Dataset** : https://www.kaggle.com/nicapotato/womens-ecommerce-clothing-reviews
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the a

[2022-01-31 14:26] abhisheks008 opened #126 "Real / Fake Job Posting Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Real / Fake Job Posting Prediction
:red_circle: **Aim** : This project is to identify the Real/Fake job postings.
:red_circle: **Dataset** : https://www.kaggle.com/shivamb/real-or-fake-fake-jobposting-prediction
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms

[2022-01-31 14:28] abhisheks008 opened #127 "Narendra Modi - Text Speeches Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Narendra Modi - Text Speeches Analysis
:red_circle: **Aim** : This project is to analyze the speeches of Narendra Modi.
:red_circle: **Dataset** : https://www.kaggle.com/adiamaan/modi-speeches
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the bes

[2022-01-31 14:29] abhisheks008 opened #128 "F1 Visa Experiences"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : F1 Visa Experiences
:red_circle: **Aim** : Analysis of the dataset which contains the experiences of the F1 visa.
:red_circle: **Dataset** : https://www.kaggle.com/adiamaan/f1-visa-experiences
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the bes

[2022-01-31 14:32] abhisheks008 opened #129 "Toxic Comment Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Toxic Comment Analysis
:red_circle: **Aim** : This project will analyze the toxic comments.
:red_circle: **Dataset** : https://www.kaggle.com/devkhant24/toxic-comment
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for the

[2022-01-31 14:33] abhisheks008 opened #130 "Huggingface BERT Variants"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Huggingface BERT Variants
:red_circle: **Aim** : This project will identify the Huggingface BERT variants.
:red_circle: **Dataset** : https://www.kaggle.com/sauravmaheshkar/huggingface-bert-variants
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out t

[2022-01-31 14:34] abhisheks008 opened #131 "WebMD Drug Reviews"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : WebMD Drug Reviews
:red_circle: **Aim** : This project will identify the drug reviews and classify them.
:red_circle: **Dataset** : https://www.kaggle.com/rohanharode07/webmd-drug-reviews-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the

[2022-01-31 14:36] abhisheks008 opened #132 "OkCupid Profiles Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : OkCupid Profiles Analysis
:red_circle: **Aim** : This project will analyze the OkCupid Profiles and classify accordingly.
:red_circle: **Dataset** : https://www.kaggle.com/andrewmvd/okcupid-profiles
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out t

[2022-01-31 14:40] abhisheks008 opened #133 "Glove Embeddings"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Glove Embeddings
:red_circle: **Aim** : This project will create the vector representations of the words.
:red_circle: **Dataset** : https://www.kaggle.com/anmolkumar/glove-embeddings
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted

[2022-01-31 18:30] Adi9235 commented on #59
I want to work on this issue under JWOC

[2022-01-31 18:31] snega16 commented on #92
I want to work on this issue under JWOC

[2022-01-31 18:31] tandrimasingha commented on #94
Full name: Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Approach for this Project: Creating an ML model which will predict the prices of Bitcoin using regression algorithms.
What is your participant role?
   [x]SWOC 2.0 Participant.
  [x]JWOC 2022 Participant.
  [x]Contributor

[2022-01-31 18:32] tandrimasingha commented on #94
Full name: Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Approach for this Project: Creating an ML model which will predict the prices of Bitcoin using regression algorithms.
What is your participant role?
   SWOC 2.0 Participant,  JWOC 2022 Participant  ,Contributor

[2022-01-31 18:38] Adi9235 commented on #127
I want to work on this issue under JWOC

[2022-01-31 18:42] snega16 commented on #92
SNEGA S
https://github.com/snega16
Approach - Creating ML models after data analysis and EDA.
Are you a participant of JWOC?
 YES

[2022-01-31 18:46] VishnuBhaarath commented on #117
Hi
Full Name: Vishnu Bhaarath
github profile link:https://github.com/VishnuBhaarath
Approach: Have gone through the dataset, ig I dont have to fix any models will be doing visualization of the same using python
Participant role: JWOC 2022 participant
Can you assign this issue to me

[2022-01-31 18:56] snega16 commented on #126
SNEGA S
https://github.com/snega16
Approach - Creating ML models after data analysis and EDA.
What is your participant role?
- [x] JWOC 2022 Participant.

[2022-01-31 18:56] VishnuBhaarath commented on #104
Hi,
 I have registered for JWOC 22 can i work on this, my approach would be using CNN to classify the images.

[2022-01-31 19:15] mrunal736 commented on #106
Mrunal Jambenal
GitHub Profile Link : [https://github.com/mrunal736](url)
Approach for this Project :  Using algorithms: logistic regression,  random forest classifier, decision tree classifier.
What is your participant role?
 : JWOC 2022 Participant.
I would like to work on this issue under JWOC

[2022-02-01 03:32] srini047 commented on #98
I want to work on this issue under JWOC.

Name: Sriniketh J
GitHub Username: srini047

[2022-02-01 03:40] jahnavibattu02 commented on #116
Name: Jahnavi Pravaleeka Battu
Github: https://github.com/jahnavibattu02
Approach: I will try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitting algorithm for the model by checking the accuracy scores.
participant role: JWOC 2022 Participant.
Can you assign this issue to me?

[2022-02-01 04:15] nishtha2405 commented on #123
I want to work on this issue under JWOC

[2022-02-01 04:15] nishtha2405 commented on #129
I want to work on this issue under JWOC

[2022-02-01 04:16] nishtha2405 commented on #110
I want to work on this issue under JWOC

[2022-02-01 04:19] abhisheks008 commented on #59
Follow the guidelines of the issue and comment out properly @Adi9235

[2022-02-01 04:21] abhisheks008 commented on #92
Implement 3-4 ML algorithms and compare them to find out the best fitted algorithm for this project. Issue assigned to you @snega16

[2022-02-01 04:29] abhisheks008 commented on #94
In which competition you are participating for this issue? @tandrimasingha

[2022-02-01 04:30] abhisheks008 commented on #98
Tell me your approach for this project and also follow the guidelines in the issue, then mention all the details properly @srini047

[2022-02-01 04:31] abhisheks008 commented on #104
Follow the issue guidelines and mention the details properly @VishnuBhaarath

[2022-02-01 04:32] abhisheks008 commented on #129
Follow the issue guidelines and mention all the required details properly before taking the issue @nishtha2405

[2022-02-01 04:33] abhisheks008 commented on #127
Follow the issue guidelines and mention all the required details properly before taking the issue @Adi9235

[2022-02-01 04:33] abhisheks008 commented on #126
One issue at a time @snega16

[2022-02-01 04:35] abhisheks008 commented on #117
Yeah you need to visualize the dataset and provide a brief analysis from it. And conclude the project properly @VishnuBhaarath. Issue assigned to you ✔️

[2022-02-01 04:37] abhisheks008 commented on #116
Issue assigned to you @jahnavibattu02 ✔️

[2022-02-01 04:38] abhisheks008 commented on #110
Follow the guidelines and comment out with proper details mentioned in the issue @nishtha2405

[2022-02-01 04:40] abhisheks008 commented on #106
Issue assigned to you @mrunal736 ✔️

[2022-02-01 04:47] tandrimasingha commented on #94
JWOC 2022

[2022-02-01 04:48] abhisheks008 commented on #94
Issue assigned to you @tandrimasingha ✔️

[2022-02-01 04:59] nishtha2405 commented on #129
Nishtha Pandey
 https://github.com/nishtha2405
Few of the approaches for the project  are implemented using simple lists, Logistic Regression, Naive bayes and CNN.
JWOC 2022 Participant

[2022-02-01 05:40] Adi9235 commented on #127
* Full name : Aditya Tomar
* Github Profile Link : https://github.com/Adi9235
* Approach for this Project : To create ML models after data analysis and proper visualization
* What is your participant role?
    - [x]  JWOC 2022 Participant

[2022-02-01 05:43] abhisheks008 commented on #129
Issue assigned to you @nishtha2405

[2022-02-01 05:45] Adi9235 commented on #59
* Full name : Aditya Tomar
* Github Profile Link : https://github.com/Adi9235
* Approach for this Project : To create ML models after data analysis and explanatory data analysis also
* Are you a participant of SWOC 2.0?
    - [x]  No

[2022-02-01 05:46] abhisheks008 commented on #127
Issue assigned to you @Adi9235

[2022-02-01 05:47] abhisheks008 commented on #59
One issue at a time @Adi9235

[2022-02-01 06:13] srini047 commented on #98
- Full Name: Sriniketh J
- GitHub Profile Link : [srini047](https://github.com/srini047/)
- Participant ID:
- Approach for this Project: Brief about MNIST Dataset and different models (one basic and one CNN based) and their accuracy and finally the best model with Conclusion.
- Participant Role: **JWOC**

[2022-02-01 06:15] #75 closed

[2022-02-01 06:45] abhisheks008 commented on #98
Issue assigned to you @srini047

[2022-02-01 06:45] karishni commented on #52
I'm done with this issue, had a doubt, what should I name the folder as the name of the issue is MS COCO dataset but I'm using the flickr8k dataset

[2022-02-01 06:48] #94 closed

[2022-02-01 06:55] abhisheks008 commented on #52
Name the folder as, `FLICKR8k Dataset Analysis (MS COCO)`

@karishni

[2022-02-01 06:57] abhisheks008 opened #137 "Face Mask Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Face Mask Detection
:red_circle: **Aim** : Detect the face mask using a machine learning approach.
:red_circle: **Dataset** : https://www.kaggle.com/andrewmvd/face-mask-detection
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algor

[2022-02-01 06:58] abhisheks008 opened #138 "Brain Tumor Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Brain Tumor Detection
:red_circle: **Aim** : Create a ML model which will detect the brain tumors from the images.
:red_circle: **Dataset** : https://www.kaggle.com/navoneel/brain-mri-images-for-brain-tumor-detection
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algori

[2022-02-01 07:00] abhisheks008 opened #139 "Vegetable Classification and Recognition"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Vegetable Classification and Recognition
:red_circle: **Aim** : Create a ML model which will classify and recognize vegetables.
:red_circle: **Dataset** : https://www.kaggle.com/misrakahmed/vegetable-image-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithm

[2022-02-01 07:02] abhisheks008 opened #140 "Birds Images Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Birds Images Classification
:red_circle: **Aim** : Create a ML model which will classify the images of birds.
:red_circle: **Dataset** : https://www.kaggle.com/gpiosenka/100-bird-species
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitt

[2022-02-01 07:03] abhisheks008 opened #141 "Fish Segmentation"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Fish Segmentation
:red_circle: **Aim** : Create a ML model which will classify and identify the fishes.
:red_circle: **Dataset** : https://www.kaggle.com/crowww/a-large-scale-fish-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fit

[2022-02-01 07:06] abhisheks008 opened #142 "Data Analytics Salary Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Data Analytics Salary Prediction
:red_circle: **Aim** : Create a ML model to classify and predict the salaries of Data Analytics.
:red_circle: **Dataset** : https://www.kaggle.com/iamsouravbanerjee/analytics-industry-salaries-2022-india
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and co

[2022-02-01 07:07] abhisheks008 opened #143 "EdX Courses Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : EdX Courses Analysis
:red_circle: **Aim** : Analyze the courses powered by EdX.
:red_circle: **Dataset** : https://www.kaggle.com/khusheekapoor/edx-courses-dataset-2021
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for t

[2022-02-01 07:08] abhisheks008 opened #144 "Udacity Courses Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Udacity Courses Analysis
:red_circle: **Aim** : Analyze the courses powered by Udacity.
:red_circle: **Dataset** : https://www.kaggle.com/khusheekapoor/udacity-courses-dataset-2021
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted alg

[2022-02-01 07:10] abhisheks008 opened #145 "Student Alcohol Consumption"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Student Alcohol Consumption
:red_circle: **Aim** : Create a ML model to predict the alcohol consumption of the students.
:red_circle: **Dataset** : https://www.kaggle.com/uciml/student-alcohol-consumption
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find

[2022-02-01 07:11] abhisheks008 opened #146 "GreatBarrierReef Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : GreatBarrierReef Analysis
:red_circle: **Aim** : Analyze the data from the Great Barrier reef.
:red_circle: **Dataset** : https://www.kaggle.com/andradaolteanu/2021-greatbarrierreef-prep-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best

[2022-02-01 07:12] abhisheks008 opened #147 "Pakistan Intellectual Capital Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Pakistan Intellectual Capital Analysis
:red_circle: **Aim** : Analyze the data from the Pakistan's Intellectual Captitals.
:red_circle: **Dataset** : https://www.kaggle.com/alexisbcook/pakistan-intellectual-capital
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorith

[2022-02-01 07:14] abhisheks008 opened #148 "Machine Learning users on Github Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Machine Learning users on Github Analysis
:red_circle: **Aim** : Analyze the data of the ML users in GitHub.
:red_circle: **Dataset** : https://www.kaggle.com/prosperchuks/machine-learning-users-on-github
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find

[2022-02-01 07:15] abhisheks008 opened #149 "Reddit Vaccine Myths Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Reddit Vaccine Myths Analysis
:red_circle: **Aim** : Analyze the vaccine myths on Reddit.
:red_circle: **Dataset** : https://www.kaggle.com/gpreda/reddit-vaccine-myths
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for th

[2022-02-01 07:16] abhisheks008 opened #150 "China College Entrance Examination Admission"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : China College Entrance Examination Admission
:red_circle: **Aim** : Identify and classify the factors of getting admission in Chinese university.
:red_circle: **Dataset** : https://www.kaggle.com/g9g99g9g/china-college-entrance-examination-admission
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the

[2022-02-01 07:17] abhisheks008 opened #151 "Stanford Car Image Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Stanford Cars Analysis
:red_circle: **Aim** : Analyze the data of the Stanford Cars.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/jutrera/stanford-car-dataset-by-classes-folder
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best

[2022-02-01 07:20] abhisheks008 opened #152 "Billboard "The Hot 100" Songs"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Billboard "The Hot 100" Songs
:red_circle: **Aim** : Data visualization of the dataset and create a prediction model of the top songs in the upcoming days.
:red_circle: **Dataset** : https://www.kaggle.com/dhruvildave/billboard-the-hot-100-songs
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the mode

[2022-02-01 07:21] abhisheks008 opened #153 "Confused student EEG brainwave data"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Confused student EEG brainwave data
:red_circle: **Aim** : Analyze the data using ML approach.
:red_circle: **Dataset** : https://www.kaggle.com/wanghaohan/confused-eeg
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for t

[2022-02-01 07:22] abhisheks008 opened #154 "Power consumption in India"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Power consumption in India
:red_circle: **Aim** : Time series analysis of power consumption in different states of India(2019-20)
:red_circle: **Dataset** : https://www.kaggle.com/twinkle0705/state-wise-power-consumption-in-india
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare a

[2022-02-01 07:23] abhisheks008 opened #155 "Indian Telecom Market"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Indian Telecom Market
:red_circle: **Aim** : A study of the Indian Telecommunications market
:red_circle: **Dataset** : https://www.kaggle.com/ruchi798/jio-vs-airtel-vs-vi
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm fo

[2022-02-01 07:24] abhisheks008 opened #156 "Engineering Graduate Salary Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Engineering Graduate Salary Prediction
:red_circle: **Aim** : Predict The Salary of An Indian Engineering Graduate
:red_circle: **Dataset** : https://www.kaggle.com/manishkc06/engineering-graduate-salary-prediction
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorith

[2022-02-01 07:25] abhisheks008 opened #157 "Engineering Placements Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Engineering Placements Prediction
:red_circle: **Aim** : Predict Final Year Engineering College Placements
:red_circle: **Dataset** : https://www.kaggle.com/tejashvi14/engineering-placements-prediction
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find ou

[2022-02-01 07:26] abhisheks008 opened #158 "GATE Examination Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : GATE Examination Analysis
:red_circle: **Aim** : Data about cutoff marks and number of applicants and create a prediction model accordingly.
:red_circle: **Dataset** : https://www.kaggle.com/nehaprabhavalkar/gate-examination
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all th

[2022-02-01 07:27] abhisheks008 opened #159 "Indian School Education Statistics"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Indian School Education Statistics
:red_circle: **Aim** : Analyse the Statistics for Indian Schools, includes GER, Water facility, Electricity, DR,etc
:red_circle: **Dataset** : https://www.kaggle.com/vidyapb/indian-school-education-statistics
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models

[2022-02-01 07:29] abhisheks008 opened #160 "Arabic Handwritten Digits Dataset"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Arabic Handwritten Digits Dataset
:red_circle: **Aim** : Create a prediction model which will predict the arabic digits correctly.
:red_circle: **Dataset** : https://www.kaggle.com/mloey1/ahdd1
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the be

[2022-02-01 07:30] abhisheks008 opened #161 "Ethereum Fraud Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Ethereum Fraud Detection
:red_circle: **Aim** : Create a ML model which will detect the real/fake transactions of Eth.
:red_circle: **Dataset** : https://www.kaggle.com/vagifa/ethereum-frauddetection-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to f

[2022-02-01 07:31] abhisheks008 opened #162 "Korean Single Speaker Speech Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Korean Single Speaker Speech Analysis
:red_circle: **Aim** : Create a ML model which will predict the speech from the given input.
:red_circle: **Dataset** : https://www.kaggle.com/bryanpark/korean-single-speaker-speech-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-02-01 07:55] aryashahi commented on #118
Name: Arya Shahi
GitHub ID: aryashahi
Approach: perform EDA on the dataset and train it on different algorithms
What's your participant role:  ☑ JWOC 2022 Participant.

[2022-02-01 08:14] abhisheks008 commented on #118
Issue assigned to you @aryashahi

[2022-02-01 09:22] aryacodez commented on #140
Full name : Arya Sarkar
GitHub Profile Link : https://github.com/aryacodez
Approach for this Project : Applying both deep learning i.e CNN approach and traditional machine learning technique to classify the images.
What is your participant role?
- JWOC 2022 Participant.

[2022-02-01 09:31] tandrimasingha commented on #157
Name: Tandrima Singha
GitHub Profile Link: https://github.com/tandrimasingha
Approach for this Project: Predicting Final Year Engineering College Placements which is a classification algorithm. Perform EDA
What is your participant role?    JWOC 2022 Participant

[2022-02-01 12:30] #117 closed

[2022-02-01 12:31] abhisheks008 commented on #157
Issue assigned to you @tandrimasingha

[2022-02-01 12:31] abhisheks008 commented on #140
Issue assigned to you @aryacodez

[2022-02-01 12:53] VishnuBhaarath commented on #104
Hi
Full Name: Vishnu Bhaarath
Github profile link:https://github.com/VishnuBhaarath
Project title: cats and dog identification
Approach for this project: Have gone through the dataset, it consist of different folders for training as well as testing with images the labels are dogs and cats, so my approach would be image preproccessing, then will be applying image augumentation techniques and finall

[2022-02-01 12:57] VishnuBhaarath commented on #104
JWOC 22 participant

[2022-02-01 13:04] #92 closed

[2022-02-01 13:14] abhisheks008 commented on #104
Issue assigned to you @VishnuBhaarath. Go ahead.

[2022-02-01 13:38] snega16 commented on #159
- Full name : SNEGA S
- GitHub Profile Link : snega16
- Approach for this Project : Using various data analysis and data visualization methods to analyze the dataset.
- What is your participant role?
     - [ ] SWOC 2.0 Participant.
     - [x] JWOC 2022 Participant.
     - [x] Contributor

[2022-02-01 13:40] abhisheks008 commented on #159
Issue assigned to you @snega16

[2022-02-01 13:42] abhisheks008 commented on #22
What's the update here @krishna-NIT

[2022-02-01 13:43] abhisheks008 commented on #56
Did you able to solve the problem? @Pratyush-IITBHU

[2022-02-01 13:44] abhisheks008 commented on #96
What's the update here @sankalp-srivastava

[2022-02-01 13:45] abhisheks008 commented on #51
This is your final call otherwise this will be unassigned from you @ashish-reddy-20-08

[2022-02-01 13:47] sankalp-srivastava commented on #96
Almost done

[2022-02-01 13:48] sankalp-srivastava commented on #96
Just need to do readme files

[2022-02-01 13:49] abhisheks008 commented on #96
Okay cool @sankalp-srivastava

[2022-02-01 13:56] abhisheks008 opened #165 "Lottery Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Lottery Prediction
:red_circle: **Aim** : Create a prediction model, which will predict the lottery using ML.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/muhammadzain010/lottery-ticket-prediction-based-on-history
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-02-01 13:57] abhisheks008 opened #166 "Top Programming language in GitHub"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Top Programming language in GitHub
:red_circle: **Aim** : Create a model, which will classify the top programming language used in GitHub.
:red_circle: **Dataset** : https://www.kaggle.com/isaacwen/github-programming-languages-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare

[2022-02-01 13:59] abhisheks008 opened #167 "Eye Disease Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Eye Disease Prediction
:red_circle: **Aim** : Create a model, which will predict the eye disease.
:red_circle: **Dataset** : https://www.kaggle.com/bongsang/eye-disease-deep-learning-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best

[2022-02-01 14:00] abhisheks008 opened #168 "ICPC World Ranking Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : ICPC World Ranking Analysis
:red_circle: **Aim** : Analyze the data for the past 10 years and classify the top coders.
:red_circle: **Dataset** : https://www.kaggle.com/mdjafrilalamshihab/icpc-world-final-ranking-of-last-10-years
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare a

[2022-02-01 14:02] abhisheks008 opened #169 "Crime Analysis of India"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Crime Analysis of India
:red_circle: **Aim** : Analyze the crime of India in different aspects and different sectors.
:red_circle: **Dataset** : https://www.kaggle.com/rajanand/crime-in-india
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best

[2022-02-01 14:04] abhisheks008 opened #170 "Sarcasm Detection from News Headlines"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Sarcasm Detection from News Headlines
:red_circle: **Aim** : Create a detection model which will classify the news headlines depending on the factor of sarcasm.
:red_circle: **Dataset** : https://www.kaggle.com/rmisra/news-headlines-dataset-for-sarcasm-detection
:red_circle: **Approach** : Try to use 3-4 algorithms to i

[2022-02-01 15:09] Suryageeks commented on #167
Full name :Surya Sarkar
GitHub Profile Link :https://github.com/Suryageeks
Participant ID :
Approach for this Project : Will apply CNN and also transfer learning approach to find the best accurate model
What is your participant role?
 JWOC 2022 Participant.
 Contributor

[2022-02-01 15:13] abhisheks008 commented on #167
Issue assigned to you @Suryageeks. Go ahead ✔️

[2022-02-01 19:33] krishna-NIT commented on #22
I did one analysis but I am not satisfied with it, will be completing it in 2 days at a max

[2022-02-02 03:42] #52 closed

[2022-02-02 03:44] #107 closed

[2022-02-02 03:45] abhisheks008 commented on #22
Okay complete that. Because the program is going to end in 25 days, hurry up! @krishna-NIT

[2022-02-02 04:10] #116 closed

[2022-02-02 04:22] jahnavibattu02 commented on #161
Name: Jahnavi Pravaleeka Battu
GitHub ID: jahnavibattu02
Approach: I will try to implement 3-4 algorithms and compare all the algorithms to find out the best fitting algorithm for the model.
What's your participant role: ☑ JWOC 2022 Participant.

[2022-02-02 04:24] abhisheks008 commented on #161
Issue assigned to you @jahnavibattu02

[2022-02-02 04:52] #157 closed

[2022-02-02 05:54] srini047 commented on #126
- **Full Name:** Sriniketh J
- **GitHub Profile Link:** [srini047](https://github.com/srini047/)
- **Approach for this Project:** Building 2 to 3 Models like Decision Tree, SVC after Data Preprocessing and Visualisation
- **Participant Role:** **JWOC**

[2022-02-02 06:02] abhisheks008 commented on #126
Fix the little problem in your last PR and you are good to go with this issue @srini047

[2022-02-02 06:15] #98 closed

[2022-02-02 07:04] dilroseR commented on #156
I would like to work on this under JWOC. @abhisheks008

[2022-02-02 07:17] abhisheks008 commented on #156
Issue assigned to you @dilroseR

[2022-02-02 07:24] abhisheks008 opened #176 "Iran Stock Exchange Data Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Iran Stock Exchange Data Analysis
:red_circle: **Aim** : Create a Data Analysis and visualization using the Iran stock exchange dataset.
:red_circle: **Dataset** : https://www.kaggle.com/lashkingl/iran-stock-exchange
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algori

[2022-02-02 07:26] abhisheks008 opened #177 "Podcasts Episodes Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Podcasts Episodes Analysis
:red_circle: **Aim** : Analyze different episodes of podcasts from the time period of 2007 - 2016
:red_circle: **Dataset** : https://www.kaggle.com/rishidamarla/podcasts-episodes-20072016
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorith

[2022-02-02 07:27] abhisheks008 opened #178 "Premier League Match Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Premier League Match Analysis
:red_circle: **Aim** : Analyze the PL matches for the season of 2019-20.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/idoyo92/epl-stats-20192020
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fi

[2022-02-02 07:29] abhisheks008 opened #179 "Shark Tank Episodes Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Shark Tank Episodes Analysis
:red_circle: **Aim** : Analyze the different seasons of Shark Tank depending on different features.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/shivavashishtha/shark-tank-india-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare al

[2022-02-02 07:31] abhisheks008 opened #180 "League of Legends Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : League of Legends Analysis
:red_circle: **Aim** : Analyze the league of legends stats and visualize the dataset briefly.
:red_circle: **Dataset** : https://www.kaggle.com/vivovinco/league-of-legends-champion-stats
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithm

[2022-02-02 07:32] abhisheks008 opened #181 "Pokemon Data Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Pokemon Data Analysis
:red_circle: **Aim** : Analyze different pokemons depending on their features and attributes.
:red_circle: **Dataset** : https://www.kaggle.com/anatolinischakow/pokemon-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the

[2022-02-02 07:34] abhisheks008 opened #182 "NIFTY Analysis (Jan 22)"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : NIFTY Analysis (Jan 22)
:red_circle: **Aim** : Analyze the NIFTY Indices of the stock market for the time period of Jan 22.
:red_circle: **Dataset** : https://www.kaggle.com/atrisaxena/nifty-indices-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find

[2022-02-02 07:35] abhisheks008 opened #183 "Dogecoin INR Data Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Dogecoin INR Data Analysis
:red_circle: **Aim** : Analyse and predict the price of Dogecoin in the Indian Market and also in INR.
:red_circle: **Dataset** : https://www.kaggle.com/meetnagadia/dogecoin-inr-dataset-20172020
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the a

[2022-02-02 07:37] abhisheks008 opened #184 "Bangladesh Premier League Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Bangladesh Premier League Analysis
:red_circle: **Aim** : Analyze and visualize the matches of BPL for the 2021-22 season.
:red_circle: **Dataset** : https://www.kaggle.com/abdunnoor11/bpl-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the be

[2022-02-02 07:38] abhisheks008 opened #185 "UPI Payments India"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : UPI Payments India
:red_circle: **Aim** : Visualize and Analyze the UPI Payments of India and provide a brief analysis.
:red_circle: **Dataset** : https://www.kaggle.com/bhatnagardaksh/upipaymentsindia
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find ou

[2022-02-02 07:40] abhisheks008 opened #186 "Rihanna Lyrics Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Rihanna Lyrics Analysis
:red_circle: **Aim** : Analyze the data from the lyrics of Rihanna's albums and provide a brief outcome.
:red_circle: **Dataset** : https://www.kaggle.com/vivovinco/rihanna-lyrics
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find

[2022-02-02 07:45] abhisheks008 opened #187 "Hand Pose Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Hand Pose Detection
:red_circle: **Aim** : Detect the hand poses based on the input provided by the user. (OpenCV Based)
:red_circle: **Dataset** : https://www.kaggle.com/rupakroy/handpose-detection
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out t

[2022-02-02 07:47] abhisheks008 opened #188 "Body Parts Recognition"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Body Parts Recognition
:red_circle: **Aim** : Create an OpenCV based model which will recognize the body parts with highest accuracy.
:red_circle: **Dataset** : https://www.kaggle.com/linkanjarad/body-parts-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorith

[2022-02-03 16:47] sankalp-srivastava commented on #66
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : A detailed EDA and creating different models and comparing them.
Are you a participant of SWOC 2.0?

- [x] YES
- [ ] NO

[2022-02-04 03:30] ASLManasa commented on #66
@sankalp-srivastava go ahead!

[2022-02-04 06:50] #96 closed

[2022-02-04 06:53] #159 closed

[2022-02-04 06:56] #161 closed

[2022-02-04 07:19] karishni commented on #108
Full name : Karishni Mehta
GitHub Profile Link : https://github.com/karishni
Participant ID : 466
Approach for this Project : Analyze the data and find some patterns and inferences through it
What is your participant role?
 SWOC 2.0 Participant.

[2022-02-04 07:23] abhisheks008 commented on #108
Go ahead issue assigned to you @karishni

[2022-02-04 07:34] abhisheks008 commented on #167
What's the update here @Suryageeks

[2022-02-04 07:34] abhisheks008 commented on #156
What's the update here @dilroseR

[2022-02-04 07:35] abhisheks008 commented on #140
What's the update here @aryacodez

[2022-02-04 07:35] abhisheks008 commented on #129
What's the update here @nishtha2405

[2022-02-04 07:35] abhisheks008 commented on #127
What's the update here @Adi9235

[2022-02-04 07:36] abhisheks008 commented on #126
What's the update here @srini047

[2022-02-04 07:36] abhisheks008 commented on #118
What's the update here @aryashahi

[2022-02-04 07:37] abhisheks008 commented on #106
What's the update here @mrunal736

[2022-02-04 07:37] abhisheks008 commented on #104
What's the update here @VishnuBhaarath

[2022-02-04 07:38] Adi9235 commented on #127
I am working on it @abhisheks008 it is the first time so it is taking me time to complete.

[2022-02-04 07:38] abhisheks008 commented on #56
I'm unassigning this issue from you, as you are unable to solve the error and the issue. @Pratyush-IITBHU

[2022-02-04 07:39] abhisheks008 commented on #22
What's the update here @krishna-NIT. You've asked for 2 days max, now what's the status here?

[2022-02-04 07:40] abhisheks008 commented on #127
Yeah it's ok. Thank you for responding and the update. @Adi9235

[2022-02-04 07:43] srini047 commented on #126
I have made 2 models and doing the third one. And just need to do the README file alone at the end. Need more 2-3 hours. Before which I will make a PR.

[2022-02-04 07:44] VishnuBhaarath commented on #104
Hi @abhisheks008  will be giving a PR by today before EOD

[2022-02-04 07:45] abhisheks008 commented on #126
Good job, go ahead with your work. Thanks for the update @srini047

[2022-02-04 07:46] abhisheks008 commented on #104
Great! Waiting for your PR. Thanks for the update @VishnuBhaarath

[2022-02-04 08:00] aryashahi commented on #118
@abhisheks008 datacleaning on the given data is a bit complicated for me. I'm working on it. will let you know after figuring it out.

[2022-02-04 08:11] dilroseR commented on #156
Please give the problem to someone else. Stuck with some other problem!

[2022-02-04 08:12] aryacodez commented on #140
By 7 pm today everything thing will be ready just run out of GPU so inferencing again.

[2022-02-04 08:20] Suryageeks commented on #167
It will be committed today

[2022-02-04 08:26] abhisheks008 commented on #167
Great! Waiting for your PR @Suryageeks

[2022-02-04 08:43] abhisheks008 commented on #156
Okay! This issue is unassigned from you @dilroseR

[2022-02-04 08:44] abhisheks008 commented on #140
Great! Waiting for your PR @aryacodez

[2022-02-04 10:19] mrunal736 commented on #106
I have completed the model using 4 different algorithms,  I'll make a pull request today.

[2022-02-04 13:41] #126 closed

[2022-02-04 14:01] srini047 commented on #137
- **Full Name:** Sriniketh J
- **GitHub Profile Link:** [srini047](https://github.com/srini047/)
- **Approach for this Project:** Building models using CNN, PyTorch
- **Participant Role:** **JWOC**

[2022-02-04 14:03] abhisheks008 commented on #137
Issue assigned to you @srini047

[2022-02-04 15:08] jahnavibattu02 commented on #142
- Full name: Jahnavi Pravaleeka Battu
- GitHub Profile Link:https://github.com/jahnavibattu02
- Approach for this Project:
I will create an ML model to classify and predict the salaries of Data Analytics using 3 to 4 algorithms to implement the models and compare all the algorithms to find out the best fitting algorithm for the model.
- What is your participant role?
 JWOC 2022 Participant.
 Contr

[2022-02-04 16:02] #167 closed

[2022-02-04 16:05] #140 closed

[2022-02-04 16:14] abhisheks008 commented on #142
Issue assigned to you @jahnavibattu02

[2022-02-04 20:07] VishnuBhaarath commented on #104
Hi @abhisheks008  have given the PR thanks for your patience.

[2022-02-05 06:07] nishtha2405 commented on #129
working on it

[2022-02-05 07:06] #104 closed

[2022-02-05 07:08] #22 closed

[2022-02-05 07:10] #51 closed

[2022-02-05 07:39] VishnuBhaarath commented on #184
Hi
Full Name: Vishnu Bhaarath
github profile link:https://github.com/VishnuBhaarath
Approach: Have gone through the dataset, would be take differnt factors in to account and doing visualization in python.
Participant role: JWOC 2022 participant
Can you assign this issue to me

[2022-02-05 07:47] abhisheks008 commented on #184
Issue assigned to you @VishnuBhaarath

[2022-02-05 14:04] snega16 commented on #166
- Full name : SNEGA S
- GitHub Profile Link : snega16
- Approach for this Project : Using various Data Visualization techniques to visualize the github data and analyze it.
- What is your participant role?
  - [ ] SWOC 2.0 Participant.
  - [x] JWOC 2022 Participant.
  - [ ] Contributor

[2022-02-05 14:08] sankalp-srivastava commented on #49
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : A detailed EDA and creating different models and comparing them.
Are you a participant of SWOC 2.0?

- [x] YES
- [ ] NO

[2022-02-05 14:08] sankalp-srivastava commented on #49
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : A basic EDA and creating different models and comparing them.
Are you a participant of SWOC 2.0?

- [x] YES
- [ ] NO

[2022-02-05 14:12] ASLManasa commented on #49
@sankalp-srivastava assigning to you.

[2022-02-06 08:06] abhisheks008 commented on #166
Issue assigned to you @snega16

[2022-02-06 14:47] #66 closed

[2022-02-06 17:11] VishnuBhaarath commented on #184
Hi @abhisheks008  have given a PR

[2022-02-07 08:18] #184 closed

[2022-02-07 09:13] #166 closed

[2022-02-07 17:18] nishtha2405 commented on #129
I am unable to solve this issue, please assign it to someone else and I would like to work on other issues

[2022-02-07 17:35] yagyesh-bobde commented on #111
I tried downloading the data but it says that this competition had a invitation only restriction.....so seems like not all people can enter the competition or download the data

[2022-02-07 20:50] das-ankur commented on #187
I want to work on this issue under JWOC

[2022-02-08 04:14] #108 closed

[2022-02-08 04:15] #106 closed

[2022-02-08 05:42] abhisheks008 commented on #111
Okay!

[2022-02-08 05:42] abhisheks008 commented on #187
Issue assigned to you @das-ankur

[2022-02-08 05:45] abhisheks008 commented on #129
Okay! @nishtha2405

[2022-02-08 06:28] sankalp-srivastava commented on #105
I would like to work on the issue
but i think opencv will not perform good on the dataset given and Tensorflow will provide good results.

If that is okay then assign it to me

Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : Make a deep neural net to predict the emotions in the images. Will use CNN with r1 regu

[2022-02-08 07:03] das-ankur commented on #187
Thanks for assigning me. I need help. Please tell me where I need to store the code and do I need to create any api or not. Besides that, I have already used a pretrained model in one of my projects for hand selection. The model is created by google. Can I use the pretrained model?

[2022-02-08 07:07] abhisheks008 commented on #187
You have to follow the project template and upload the `.ipynb` file in the model folder. You can check others' projects for you reference and better understanding.

[2022-02-08 07:08] abhisheks008 commented on #105
Issue assigned to you @sankalp-srivastava

[2022-02-08 07:13] das-ankur commented on #187
Thank you. I understood the point.

[2022-02-08 09:01] yagyesh-bobde commented on #109
Sir the dataset is pretty huge...... is it alright if i work with a part of it ??

[2022-02-09 04:49] abhisheks008 commented on #142
Okay @jahnavibattu02

[2022-02-09 04:49] abhisheks008 commented on #109
Issue assigned to you @yagyesh-bobde

[2022-02-09 06:12] nishtha2405 commented on #180
I want to work on this issue under JWOC
Nishtha Pandey
https://github.com/nishtha2405
JWOC 2022 Participant

[2022-02-09 06:16] abhisheks008 commented on #180
Issue assigned to you @nishtha2405

[2022-02-10 12:58] Cody-coder017 commented on #188
Full name : Venkatakrishnan R
GitHub Profile Link :https://github.com/Cody-coder017
Participant ID : 1104
Approach for this Project : Using time series models to predict the pickups
I would like to work on this issue

[2022-02-10 13:58] abhisheks008 commented on #188
Issue assigned to you @Cody-coder017

[2022-02-11 04:28] abhisheks008 commented on #187
What's the update here @das-ankur

[2022-02-11 04:28] abhisheks008 commented on #180
What's the update here @nishtha2405

[2022-02-11 04:29] abhisheks008 commented on #137
What's the update here @srini047

[2022-02-11 04:29] abhisheks008 commented on #127
What's the update here @Adi9235

[2022-02-11 06:56] abhisheks008 commented on #137
Okay @srini047 go ahead!

[2022-02-11 07:57] Adi9235 commented on #127
I m working on it

[2022-02-11 09:19] snega16 commented on #152
- Full name : SNEGA S
- GitHub Profile Link : [snega16](https://github.com/snega16)
- Approach for this Project : Using various data visualization techniques to analyse the data and build predictive model.
- What is your participant role?
   - [ ] SWOC 2.0 Participant.
   - [x] JWOC 2022 Participant.
   - [ ]  Contributor

[2022-02-11 10:21] das-ankur commented on #187
I have implemented the hand detection code using mediapipe library. I will send the PR by tonight.

[2022-02-11 11:23] yagyesh-bobde commented on #81
Full name : Yagyesh
GitHub Profile Link : https://github.com/yagyesh-bobde
Participant ID : 1131
Approach for this Project : Data exploration, data cleaning  then word2vec and then model selection and training
Are you a participant of SWOC 2.0?
 YES

[2022-02-11 12:47] VishnuBhaarath commented on #186
Full Name: Vishnu Bhaarath
Github Profile link: https://github.com/VishnuBhaarath
Approach: Have gone through the dataset, would be taking different factors in to account and doing visualization in python.
Participant role: JWOC 2022 participant
Can you assign this issue to me

[2022-02-11 15:38] abhisheks008 commented on #152
Issue assigned to you @snega16

[2022-02-11 15:45] #180 closed

[2022-02-11 15:47] das-ankur commented on #187
I have made the pull request. Please review it.

[2022-02-11 15:50] das-ankur commented on #154
I am interested to work on this issue.

[2022-02-11 16:04] abhisheks008 commented on #154
One issue at a time @das-ankur

[2022-02-11 16:23] sankalp-srivastava commented on #89
I would like to work on the issue
but i think opencv will not perform good on the dataset given and Tensorflow will provide good results.

If that is okay then assign it to me

Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : Plot different patterns with matplotlib and then create a deep neural net for review pr

[2022-02-11 16:33] sankalp-srivastava commented on #89
Thank you 😄, with your repo I have learned many new techniques in ML. I still need to make my github profile look beautiful before placements and maybe I could use some guidance.

[2022-02-11 17:43] VishnuBhaarath commented on #186
Have given PR pls check it

[2022-02-11 17:57] VishnuBhaarath commented on #139
Full Name: Vishnu Bhaarath
Github Profile link: https://github.com/VishnuBhaarath
Approach: Have gone through the dataset, will be doing pre processing on the images and then will be applying CNN to train it.
Participant role: JWOC 2022 participant
Can you assign this issue to me

[2022-02-11 18:21] das-ankur commented on #185
Can I use POWER BI for this analysis?

[2022-02-11 19:29] nishtha2405 commented on #125
I want to work on this issue under JWOC
Nishtha Pandey
https://github.com/nishtha2405
JWOC 2022 Participant

[2022-02-12 04:26] #186 closed

[2022-02-12 04:27] abhisheks008 commented on #185
If this works well with the dataset, then go ahead @das-ankur

[2022-02-12 04:28] abhisheks008 commented on #139
Issue assigned to you @VishnuBhaarath

[2022-02-12 04:28] abhisheks008 commented on #125
Issue assigned to you @nishtha2405

[2022-02-12 07:01] yagyesh-bobde commented on #17
Full name : Yagyesh
GitHub Profile Link : https://github.com/yagyesh-bobde
Participant ID : 1131
Approach for this Project : Loading email, text cleaning then using Tfidf or word2vec for processing and then trying various models
Are you a participant of SWOC 2.0?
 [x]YES
 [] No

[2022-02-12 07:01] yagyesh-bobde commented on #17
Full name : Yagyesh
GitHub Profile Link : https://github.com/yagyesh-bobde
Participant ID : 1131
Approach for this Project : Loading email, text cleaning then using Tfidf or word2vec for processing and then trying various models
Are you a participant of SWOC 2.0?
Yes

[2022-02-12 14:51] #137 closed

[2022-02-12 15:05] abhisheks008 commented on #17
@yagyesh-bobde complete issue #109 first.

[2022-02-12 16:09] tandrimasingha commented on #99
Full name : Tandrima Singha
GitHub Profile Link : https://github.com/tandrimasingha
Participant ID: 1044
Approach for this Project : Analyzying different aspects of the dataset and provide the pattern of the dataset from the visualization. Using 3 algorithms to predict.
What is your participant role?
SWOC 2.0 Participant.

[2022-02-14 13:11] snega16 commented on #142
Full name : SNEGA S
GitHub Profile Link : [snega16](github.com/snega16)
Approach for this Project : Using various data analysis method to analyze and make predictable model.
What is your participant role?
 - [ ] SWOC 2.0 Participant.
 - [x] JWOC 2022 Participant.
 - [ ] Contributor

[2022-02-14 14:52] abhisheks008 commented on #142
Issue assigned to you @snega16

[2022-02-14 15:33] VishnuBhaarath commented on #139
Have given PR

[2022-02-14 15:36] VishnuBhaarath commented on #138
Full Name: Vishnu Bhaarath
Github Profile link: https://github.com/VishnuBhaarath
Approach: Have gone through the dataset, will be doing pre processing on the images and then will be applying CNN to train it.
Participant role: JWOC 2022 participant
Can you assign this issue to me

[2022-02-14 16:10] #139 closed

[2022-02-14 16:16] abhisheks008 commented on #138
Issue assigned to you @VishnuBhaarath

[2022-02-14 18:17] VishnuBhaarath commented on #138
Have given PR

[2022-02-14 18:38] yagyesh-bobde commented on #17
Okay

[2022-02-14 18:38] yagyesh-bobde commented on #17
I comleted that first

[2022-02-14 18:41] yagyesh-bobde commented on #17
@abhisheks008 This dataset is already used right? Someone already created a Enron Email Dataset in the ML-Crate...... so should I still do this or go for a different issue ??

[2022-02-14 19:07] VishnuBhaarath commented on #188
Full Name: Vishnu Bhaarath
Github Profile link: https://github.com/VishnuBhaarath
Approach: Have gone through the dataset, will be doing pre processing on the images and then will be applying CNN to train it.
Participant role: JWOC 2022 participant
Can you assign this issue to me

[2022-02-15 03:20] #109 closed

[2022-02-15 03:23] #138 closed

[2022-02-15 03:41] abhisheks008 commented on #17
Thanks for addressing, this will be under duplicate issues. You can check out other issues @yagyesh-bobde

[2022-02-15 03:41] #17 closed

[2022-02-15 03:42] abhisheks008 commented on #188
Issue assigned to you @VishnuBhaarath

[2022-02-15 09:41] VishnuBhaarath commented on #188
Have given PR

[2022-02-15 10:01] VishnuBhaarath commented on #144
Full Name: Vishnu Bhaarath
Github Profile link: https://github.com/VishnuBhaarath
Approach: Have gone through the dataset, will be doing exploratory data analysis using python.
Participant role: JWOC 2022 participant
Can you assign this issue to me

[2022-02-15 16:36] Pratyush-IITBHU commented on #160
Can SWOC participants take it??

[2022-02-15 16:41] abhisheks008 commented on #160
@Pratyush-IITBHU No!

[2022-02-16 04:28] #89 closed

[2022-02-16 04:31] #188 closed

[2022-02-16 04:32] ashish-reddy-20-08 commented on #112
Full name: M. Ashish Reddy
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Participant ID: 528
Approach for this Project: EDA, Using models like SVM, Decision trees, etc. to predict the model
Are you a participant of SWOC 2.0?
YES

[2022-02-16 04:36] #125 closed

[2022-02-16 04:50] abhisheks008 commented on #144
Issue assigned to you @VishnuBhaarath

[2022-02-16 04:51] abhisheks008 commented on #112
Issue assigned to you @ashish-reddy-20-08

[2022-02-16 13:08] #99 closed

[2022-02-16 13:45] deepthi1107 commented on #77
Full name : Deepthi M
GitHub Profile Link : https://github.com/deepthi1107
Participant ID : 294
Approach for this Project: EDA, SVM, random forest, decision tree
Are you a participant of SWOC 2.0?
YES

[2022-02-16 14:01] deepthi1107 commented on #90
Full name : Deepthi M
GitHub Profile Link : https://github.com/deepthi1107
Participant ID : 294
Approach for this Project: EDA, SVM, random forest, decision tree
Are you a participant of SWOC 2.0?
YES

[2022-02-17 14:35] #112 closed

[2022-02-17 14:47] #142 closed

[2022-02-17 15:02] abhisheks008 commented on #93
Issue assigned to you @snega16

[2022-02-17 15:11] abhisheks008 opened #222 "Lumpy Skin Disease Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Lumpy Skin Disease Prediction
:red_circle: **Aim** : Predict the skin disease from the data given.
:red_circle: **Dataset** : https://www.kaggle.com/saurabhshahane/lumpy-skin-disease-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best

[2022-02-17 15:12] abhisheks008 opened #223 "Swarm Behaviour Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Swarm Behaviour Classification
:red_circle: **Aim** : Classify the behaviour of a swarm.
:red_circle: **Dataset** : https://www.kaggle.com/deepcontractor/swarm-behaviour-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted

[2022-02-17 15:13] abhisheks008 opened #224 "Rice type classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Rice type classification
:red_circle: **Aim** : Create a ML model which will classify the type of the rice.
:red_circle: **Dataset** : https://www.kaggle.com/mssmartypants/rice-type-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the

[2022-02-17 15:14] abhisheks008 opened #225 "Online Education System"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Online Education System
:red_circle: **Aim** : Visualize different aspects of Online education system.
:red_circle: **Dataset** : https://www.kaggle.com/sujaradha/online-education-system-review
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the be

[2022-02-17 15:15] abhisheks008 opened #226 "Predicting Pulsar Star"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Predicting Pulsar Star
:red_circle: **Aim** : Create a ML model which will predict the pulsar star timing.
:red_circle: **Dataset** : https://www.kaggle.com/colearninglounge/predicting-pulsar-starintermediate
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to

[2022-02-17 15:16] abhisheks008 opened #227 "CS:GO Round Winner Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : CS:GO Round Winner Classification
:red_circle: **Aim** : Predict who wins individual snapshots of rounds.
:red_circle: **Dataset** : https://www.kaggle.com/christianlillelund/csgo-round-winner-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to f

[2022-02-17 17:30] nishtha2405 commented on #176
i want to work on this issue under JWOC

[2022-02-19 15:47] debjitpal5040 commented on #224
I want to work on this issue under JWOC @abhisheks008

Full Name : Debjit Pal

GitHub Profile Link : https://github.com/debjitpal5040

Approach for this Project : Will be doing data analysis first then apply some ML algorithms to find out the best fitted one

What is your participant role?
- [x] JWOC 2022 Participant.

[2022-02-21 04:49] #144 closed

[2022-02-21 04:54] abhisheks008 commented on #224
Issue assigned to you @debjitpal5040

[2022-02-21 04:55] abhisheks008 commented on #176
Issue assigned to you @nishtha2405

[2022-02-21 04:56] abhisheks008 commented on #100
Issue assigned to you @yagyesh-bobde

[2022-02-21 09:22] sankalp-srivastava commented on #90
Full name : Sankalp Srivastava
GitHub Profile Link : www.github.com/sankalp-srivastava
Participant ID : 857
Approach for this Project : A detailed EDA using different libraries and finding insights
Are you a participant of SWOC 2.0?

- [x] YES
- [ ] NO

[2022-02-21 16:12] abhisheks008 commented on #122
Issue assigned to you @VishnuBhaarath

[2022-02-21 18:27] debjitpal5040 commented on #222
I want to work on this issue under JWOC @abhisheks008

Full Name : Debjit Pal

GitHub Profile Link : https://github.com/debjitpal5040

Approach for this Project : Will be doing data analysis first then apply some ML algorithms to find out the best fitted one

What is your participant role?

- [x] JWOC 2022 Participant.

[2022-02-22 15:26] #122 closed

[2022-02-22 15:32] abhisheks008 commented on #222
Issue assigned to you @debjitpal5040

[2022-02-22 17:05] VishnuBhaarath commented on #148
Full Name: Vishnu Bhaarath
Github Profile link: https://github.com/VishnuBhaarath
Approach: Have gone through the dataset, would be taking different factors in to account and doing visualization in python.
Participant role: JWOC 2022 participant
Can you assign this issue to me

[2022-02-23 08:00] #222 closed

[2022-02-24 15:57] #90 closed

[2022-02-25 14:49] srini047 commented on #169
- **Full Name:** Sriniketh J
- **GitHub Profile Link:** [srini047](https://github.com/srini047/)
- **Approach for this Project:** Perform EDA on Dataset, build models focussing different types of crimes.
- **Participant Role:** **JWOC**

[2022-02-25 16:19] #100 closed

[2022-02-25 16:22] #77 closed

[2022-02-25 16:39] yagyesh-bobde commented on #16
@abhisheks008 I don't understand what I have to do in this???.....can u explain?

[2022-02-25 16:43] abhisheks008 commented on #16
You need to create a chatbot using the expressions given in the `.json` file and also provide an user interface for the chatbot so that others can interact with it easily @yagyesh-bobde

[2022-02-25 16:46] yagyesh-bobde commented on #16
I am not familiar with this .....Do you have like any resources where I can learn to do this?

[2022-02-27 13:03] debjitpal5040 commented on #158
I want to work on this issue under JWOC @abhisheks008

Full Name : Debjit Pal

GitHub Profile Link : https://github.com/debjitpal5040

Approach for this Project : Will be doing exploratory data analysis and then find a best suited algorithm to predict

What is your participant role?
- [x] JWOC 2022 Participant.

[2022-02-28 05:48] abhisheks008 commented on #158
Issue assigned @debjitpal5040

[2022-02-28 05:48] abhisheks008 commented on #169
Issue assigned @srini047

[2022-02-28 05:49] abhisheks008 commented on #93
@snega16 any update on this issue?

[2022-03-01 14:19] #158 closed

[2022-03-03 16:05] #169 closed

[2022-03-03 16:23] srini047 commented on #130
I would like to work on this issue.

- **Full Name:** Sriniketh J
- **GitHub Profile Link:** [srini047](https://github.com/srini047/)
- **Approach for this Project:** Use different DL Models to identify the variants.
- **Participant Role:** **JWOC**

[2022-03-03 18:07] abhisheks008 commented on #130
Issue assigned to you @srini047

[2022-03-05 09:59] debjitpal5040 commented on #153
I want to work on this issue under JWOC @abhisheks008

Full Name : Debjit Pal

GitHub Profile Link : https://github.com/debjitpal5040

Approach for this Project : Will be doing data analysis first then apply some ML algorithms to find out the best fitted one

What is your participant role?
- [x] JWOC 2022 Participant.

[2022-03-05 16:28] abhisheks008 commented on #153
issue assigned to you @debjitpal5040

[2022-03-07 03:56] #153 closed

[2022-03-07 21:29] tandrimasingha commented on #227
I want to work on this issue under JWOC

[2022-03-08 03:29] abhisheks008 commented on #227
Issue assigned to you @tandrimasingha. Try to complete the issue within 09.03.2022 11.59.59 PM.

[2022-03-08 15:33] #227 closed

[2022-03-16 17:19] aka9ksha commented on #226
Hello 👋🏻 ,as Contributor i would like to give my contribution

[2022-03-17 03:37] abhisheks008 commented on #226
Yeah sure @aka9ksha. Can you elaborate the approach for this project?

[2022-03-17 14:29] aka9ksha commented on #226
I'll be using logistic regression as ML model and evaluate it using confusions matrix.

[2022-03-18 03:37] abhisheks008 commented on #226
Try to use 3-4 different model along with the logistic regression and then compare all the models on the basis of their accuracy scores. Finally, conclude the fact, that which model/algorithm will be best fitted with this dataset.

@aka9ksha Issue assigned to you! Go ahead.

[2022-03-20 03:17] abhisheks008 commented on #226
Hey, @aka9ksha any progress on this project?

[2022-03-22 05:01] aka9ksha commented on #226
I've already completed it ...just having issue in importing kaggle notebook on github repository.

[2022-03-23 03:09] #226 closed

[2022-04-06 11:25] aswinikalyan30 commented on #156
Full name : Aswini Kalyan
GitHub Profile Link :https://github.com/aswinikalyan30
Approach for this Project : Regression algorithms
What is your participant role?

- [ ]  - SWOC 2.0 Participant.
- [ ]  - JWOC 2022 Participant.
- [x]  - Contributor (OpenCode)

[2022-04-06 13:17] abhisheks008 commented on #156
Issue assigned to you @aswinikalyan30. Go ahead! 🚀

[2022-04-11 04:15] abhisheks008 commented on #156
@aswinikalyan30 what's the progress on this issue?

[2022-04-11 06:11] aswinikalyan30 commented on #156
Hey, I dont feel i cant do this.. can you unassign it from me?

[2022-04-29 13:58] Sera001 commented on #145
Full name : Jeffy Johnson
GitHub Profile Link : https://github.com/Sera001
What is your participant role?
 Contributor (OpenCode)

[2022-05-01 13:31] abhisheks008 commented on #145
@Sera001 you can contribute in **ML-Crate** as an Open Source contributor now, your contribution will not be taken into count by OpenCode team.

Greetings!

[2022-06-18 06:46] abhisheks008 commented on #145
This issue is being unassigned from @Sera001 due to inactivity.

[2022-07-10 08:47] abhisheks008 opened #246 "Eye State Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Eye State Classification</br>
:red_circle: **Aim** : The aim of this project is to predict the eye state from EEG Neurohead dataset.</br>
:red_circle: **Dataset** : https://www.kaggle.com/datasets/robikscube/eye-state-classification-eeg-dataset</br>
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the

[2022-07-10 08:48] abhisheks008 opened #247 "Gapminder Colon Cancer"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Gapminder Colon Cancer
:red_circle: **Aim** : The aim of this project is to predict the Gapminder Colon Cancer from the IARC and WHO dataset given below.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/nancyalaswad90/gapminder-colon-cancer
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the

[2022-07-10 08:50] abhisheks008 opened #248 "BellaBeat - Capstone Project by Google"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : BellaBeat - Capstone Project by Google
:red_circle: **Aim** : The aim of this project is to create a model which will analyze the Bellabeat project.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/dafertflores/google-capstone-project-bellabeat
:red_circle: **Approach** : Try to use 3-4 algorithms to implement

[2022-07-10 08:51] abhisheks008 commented on #248
Or you can use this dataset too for this project, https://www.kaggle.com/datasets/carlodipaola/bellabeat-dataset

[2022-07-10 08:52] abhisheks008 opened #249 "PubMed Text Classification MeSH Model"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : PubMed Text Classification MeSH Model
:red_circle: **Aim** : Analyze the PubMed Dataset and classify them according to their parameters.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/owaiskhan9654/pubmed-multilabel-text-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the mo

[2022-07-13 15:13] Avik-creator commented on #185
Could you please tell me what to do as i can see that you have said that I have to make an analysis on UPI payments in India. So I can use like only one algorithm?

[2022-07-13 15:50] Nirvik07 commented on #181
I am interested to work in this project.

[2022-07-13 16:06] abhisheks008 commented on #181
The program will start from 15th July, after that this is going to be assigned. And please mention all the details when you comment next time.
@Nirvik07

[2022-07-14 18:30] Avik-creator commented on #185
Please assign me this

[2022-07-14 18:30] Avik-creator commented on #185
@abhisheks008

[2022-07-14 18:35] abhisheks008 commented on #185
Issue assigned to you @Avik-creator

[2022-07-14 18:40] abhisheks008 commented on #143
Good approach. Issue assigned to you @LahariBoni

[2022-07-15 03:56] abhisheks008 opened #250 "Large Video Games Companies"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Large Video Games Companies
:red_circle: **Aim** : Aim is to create a visualization on the largest video games companies in the world.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/kkhandekar/large-video-game-companies
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare

[2022-07-15 03:59] abhisheks008 opened #251 "ASELSAN Stock Prices"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : ASELSAN Stock Prices
:red_circle: **Aim** : Aim is to create a ML model which will predict the stock prices.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/zlemglsmklkaya/aselsan-stock-prices-20172022
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms

[2022-07-15 04:01] abhisheks008 opened #252 "Bearings Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Bearings Classification
:red_circle: **Aim** : Aim is to identify the healthy and faulty bearings from the given dataset.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/zlemglsmklkaya/healthy-vs-faulty-bearings
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the

[2022-07-15 04:02] abhisheks008 opened #253 "Car Brands in Pakistan"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Car Brands in Pakistan
:red_circle: **Aim** : Aim is to analyse the car brands of Pakistan, which are there in the market.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/hassanshehzadk/list-of-all-car-prices-in-pakistan
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare

[2022-07-15 04:03] abhisheks008 opened #254 "Search Interests in Google"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Search Interests in Google
:red_circle: **Aim** : Analyze the search interests of the users while they use Google.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/mustafaadelibrahim/comparing-search-interest-with-google-trends
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and c

[2022-07-15 09:10] srini047 commented on #178
Hi,
I would like to work on this issue.

- **Full Name:** Sriniketh J
- **GitHub Profile Link:** https://github.com/srini047
- **Approach for this Project:** I will initially clean the dataset, preprocess it, and finally do EDA to get insights into the dataset.
- **Participant Role:**

[2022-07-15 13:27] #185 closed

[2022-07-15 16:36] Avik-creator commented on #254
@abhisheks008 So we need to just show here which is Top searches? Most Searched person or thing?

[2022-07-15 16:39] abhisheks008 commented on #254
Yeah it's kind of a Data Analysis and Visualization project, where you need to visualize different aspects and parameters through your data analysis techniques. @Avik-creator

[2022-07-15 18:43] vickyrules commented on #246
@abhisheks008 assign this to me

[2022-07-15 18:58] vickyrules opened #256 "Disease Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: Disease prediction model with GUI (Machine Learning) :
:red_circle: predicting diseases from the symptoms provided by the user :
:red_circle: **Approach** :
Using - Random Forest, descision tree and naive bayes.

Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorithm for the m

[2022-07-15 18:58] vickyrules commented on #256
@abhisheks008 please assign this to me.

[2022-07-15 19:04] abhisheks008 commented on #256
Can you elaborate me the project? @vickyrules

[2022-07-15 19:06] abhisheks008 commented on #246
In which issue you wanna work on first? 😅

[2022-07-15 19:09] vickyrules commented on #256
@abhisheks008
Model will predict the disease (like typhoid, malaria and food poisoning etc.) based on the symptoms user provide.

[2022-07-15 19:13] abhisheks008 commented on #256
Can you share me the dataset? @vickyrules

[2022-07-15 19:17] abhisheks008 commented on #256
@vickyrules you are going to create a GUI for the user interaction. Then add your front end files in the separate folder and name it as `GUI`, also provide the deploy link in the main README.md file.

[2022-07-15 19:18] vickyrules commented on #256
@abhisheks008
https://github.com/vickyrules/DisesesPredictor
Here the project i have completed it few months back.

[2022-07-15 19:20] abhisheks008 commented on #256
Yeah go for it. You have already developed it! It was nice presentation btw! Issue assigned to you @vickyrules

[2022-07-15 19:22] abhisheks008 commented on #256
@vickyrules You have used three algorithms for the predictions, can you use 2 more algorithms and then compare them altogether to find the best fitted one. My suggestion will be, Support Vector Machine and XgBoost Classifier, you can choose yours!

[2022-07-15 19:22] vickyrules commented on #246
@abhisheks008
assign this one too

[2022-07-15 19:24] vickyrules commented on #256
@abhisheks008  i will try

[2022-07-15 19:25] abhisheks008 commented on #246
I can't assign you two issues at a time, once your PR is merged for the previous one, you'll get it. @vickyrules

[2022-07-16 03:45] abhisheks008 commented on #256
@vickyrules have you filled up the Contact information form, given in the ML-Crate announcement channel of the HSoC discord server? I am not able find out your contact details. Please ensure that you must fill that form before pushing your PR.

Thanks and regards!

[2022-07-16 04:08] vickyrules commented on #256
Done 👍

[2022-07-16 04:09] abhisheks008 commented on #256
Thanks man!

[2022-07-16 04:15] abhisheks008 commented on #254
Will I assign this issue to you? @Avik-creator

[2022-07-16 04:15] Avik-creator commented on #254
Yes please

[2022-07-16 04:15] Avik-creator commented on #254
@abhisheks008

[2022-07-16 04:16] abhisheks008 commented on #143
How's all going here with this project @LahariBoni? Update please.

[2022-07-16 04:17] abhisheks008 commented on #254
Issue assigned to you @Avik-creator

[2022-07-16 04:19] LahariBoni commented on #143
Hey @abhisheks008, so far it's going great. Done with the initial analysis and trying to add few more visual charts. After that, I'd proceed with adding comments and markdowns. So will probably make a pr by Monday morning.

[2022-07-16 05:22] abhisheks008 commented on #143
That's great @LahariBoni. Keep going 🚀

[2022-07-16 13:59] #254 closed

[2022-07-16 18:02] Avik-creator commented on #253
Is it also data Analysis?

[2022-07-16 18:51] #250 closed

[2022-07-16 18:53] abhisheks008 commented on #253
Yes @Avik-creator it's a data analysis project.

[2022-07-17 04:37] PiyushBL45t commented on #154
I want to work on this issue.

[2022-07-17 04:42] PiyushBL45t commented on #154
I want to work on this issue @abhisheks008

Full name: Piyush Bhujbal

GitHub link: https://github.com/PiyushBL45t

Participant ID: N/A

Approach: Perform cleaning and a proper proprietary data analysis, and visualization, and then try to derive useful results from the obtained outcomes.

Participant Role: HSOC Participant

[2022-07-17 05:25] abhisheks008 commented on #154
Issue assigned to you @PiyushBL45t. Keep going 🚀

[2022-07-17 06:01] Avik-creator commented on #253
Please assign me this

[2022-07-17 06:10] abhisheks008 commented on #253
Issue assigned to you @Avik-creator. Keep going 🚀

[2022-07-17 06:21] abhisheks008 commented on #178
What's the update on this issue @srini047?

[2022-07-17 14:05] srini047 commented on #178
@abhisheks008 I have my end-sem exam on Tuesday. I need some time to complete the issue. I will be able to do a PR within Tuesday night at the max. Please consider my issue.

[2022-07-17 14:14] abhisheks008 commented on #178
It's okay @srini047. Thanks for the update, concentrate on your exams, you can solve this issue later. All the best for your end sem 🚀

[2022-07-17 14:23] srini047 commented on #178
Thanks for the consideration ☺️😊!!

[2022-07-17 15:46] #253 closed

[2022-07-17 17:07] #256 closed

[2022-07-17 17:10] abhisheks008 commented on #246
@vickyrules Do you wanted to work in this issue?

[2022-07-17 17:21] vickyrules commented on #246
Yes please

[2022-07-17 18:29] abhisheks008 commented on #246
Issue assigned to you @vickyrules

[2022-07-18 03:40] #143 closed

[2022-07-18 07:05] Avik-creator commented on #252
Is this data Analysis? @abhisheks008

[2022-07-18 07:10] abhisheks008 commented on #252
Nopes, it's basically creating a model which will identify the faulty or, healthy bearings. Before doing that model creation you can analyze and visualize the data as per your choice @Avik-creator

[2022-07-18 07:12] Avik-creator commented on #252
So we need to create Linear regression models like?

[2022-07-18 07:13] Avik-creator commented on #252
@abhisheks008

[2022-07-18 07:13] abhisheks008 commented on #252
Yeah, may be some advanced models too!

[2022-07-18 07:22] Nirvik07 commented on #225
Please assign me this issue @abhisheks008

[2022-07-18 07:24] abhisheks008 commented on #225
Can you please share your approach and your credentials in the comment here @Nirvik07

[2022-07-18 07:31] Avik-creator commented on #252
@abhisheks008 like random forest and decision tree?

[2022-07-18 07:31] Avik-creator commented on #252
If yes then please assign me

[2022-07-18 07:43] abhisheks008 commented on #252
Issue assigned to you @Avik-creator

[2022-07-18 16:02] abhisheks008 commented on #225
Issue assigned to you @Nirvik07. Start working on it 🚀

[2022-07-19 14:17] #246 closed

[2022-07-19 14:22] #225 closed

[2022-07-19 14:35] vickyrules commented on #183
@abhisheks008 assign this, please

[2022-07-19 14:44] abhisheks008 commented on #183
Can you elaborate your approach please @vickyrules ?

[2022-07-19 14:45] abhisheks008 commented on #148
Kind of, explore the dataset @Avik-creator

[2022-07-19 14:51] Avik-creator commented on #150
@abhisheks008 visualisation right? If yes please assign me

[2022-07-19 15:02] abhisheks008 commented on #150
Issue assigned to you @Avik-creator

[2022-07-19 15:22] PiyushBL45t commented on #145
Hello, @abhisheks008 I would like to work on this issue.
Full name: Piyush Bhujbal
Participant ID: N/A

Approach for this issue:
I shall first view the dataset, clean it and then make the necessary modifications in the columns if necessary. Then, I will try to compare the parameters with respect to categorical values. Then visualize the results and try to implement a data analysis technique.

Part

[2022-07-19 15:24] abhisheks008 commented on #145
Issue assigned to you @PiyushBL45t

[2022-07-20 03:36] #176 closed

[2022-07-20 03:37] #150 closed

[2022-07-20 03:39] abhisheks008 commented on #183
@vickyrules are you still interested in this issue, if not then this will be assigned to @Nirvik07.

@Nirvik07 you can check different issues for contribution.

[2022-07-20 03:39] Avik-creator commented on #148
If it is visualisation please assign me this

[2022-07-20 03:44] abhisheks008 commented on #148
Issue assigned to you @Avik-creator

[2022-07-20 04:03] vickyrules commented on #183
Analysing  the top 5 features inthe dataset. The details for them are as follows:

Close Price — It is the market close price for currency for that particular day.
High Price — It is highest price of currency for the day.
Low Price — It is the lowest price for currency for that day.
Open Price — It is market open price for currency for that day.
Volume — The volume of currency that is being in tra

[2022-07-20 04:04] Avik-creator commented on #118
@abhisheks008 do we need to make ML models in this?

[2022-07-20 04:04] vickyrules commented on #183
Yeah I want to work.
And sorry for late reply.

[2022-07-20 04:14] abhisheks008 commented on #183
No worries, issue assigned to you @vickyrules

@Nirvik07 you can take up another issue.

[2022-07-20 04:15] abhisheks008 commented on #118
Yes you need! @Avik-creator

[2022-07-20 04:15] Nirvik07 commented on #168
Full name : Nirvik Ghosh

GitHub Profile Link : @Nirvik07

Participant ID : NA

Approach for this Project : To analyse the dataset for past 10 years and find top coders

What is your participant role?
 HRSoc 2022 Participant.

[2022-07-20 04:16] Avik-creator commented on #118
@abhisheks008  thanks for clearing the doubt

[2022-07-20 04:16] abhisheks008 commented on #168
Issue assigned to you @Nirvik07

[2022-07-20 04:18] abhisheks008 opened #271 "FIDE Chess Ranking Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : FIDE Chess Ranking Analysis
:red_circle: **Aim** : Analyze the dataset with different parameters.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/surajjha101/fide-chess-rankings-updated
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the

[2022-07-20 04:19] abhisheks008 opened #272 "Guardian League Tables Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Guardian League Tables Analysis
:red_circle: **Aim** : Analyze different parameters from the dataset.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/afox01/guardian-league-tables-2022
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the

[2022-07-20 04:21] abhisheks008 opened #273 "MAKAAN Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : MAKAAN Analysis
:red_circle: **Aim** : Analyse different aspects of the MAKAAN website and their dataset.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/manishmathias/residential-property-price-indian-cities-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-07-20 04:22] abhisheks008 opened #274 "Press Freedom Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Press Freedom Analysis
:red_circle: **Aim** : Analyse the freedom of press in different aspects.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/mfaaris/press-freedom-index-and-abuse
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the be

[2022-07-20 04:23] abhisheks008 opened #275 "Anime Data Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Anime Data Analysis
:red_circle: **Aim** : Analyse different anime using different parameters.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/ayush4807/aad-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitted algorith

[2022-07-20 04:24] abhisheks008 opened #276 "Instagram Influencers Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Instagram Influencers Analysis
:red_circle: **Aim** : Analyse differnt influencers of Instagram with different parameters.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/syedjaferk/top-1000-instagrammers-world-cleaned
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare a

[2022-07-20 04:26] abhisheks008 opened #277 "Nobel Prize Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Nobel Prize Analysis
:red_circle: **Aim** : Analyse different parameters of the dataset.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/bahramjannesarr/nobel-prize-from-1901-till-2020
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the

[2022-07-20 04:27] abhisheks008 opened #278 "Global Retailers Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Global Retailers Analysis
:red_circle: **Aim** : Analyse the global retailers using different aspects.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/dhimananubhav/global-top-250-retailers
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out

[2022-07-20 04:29] abhisheks008 opened #279 "Chennai Zomato Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Chennai Zomato Analysis
:red_circle: **Aim** : Analyze different aspects of Zomato in Chennai.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/phiitm/chennai-zomato-restaurants-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the bes

[2022-07-20 04:31] abhisheks008 opened #280 "Kunaal Naik YouTube Channel Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Kunaal Naik YouTube Channel Analysis
:red_circle: **Aim** : Analyse the different aspects of the YouTube channel.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/funxexcel/data-science-with-kunaal-naik-youtube-channel-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compa

[2022-07-20 04:32] abhisheks008 opened #281 "Top YouTube Channels Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Top YouTube Channels Analysis
:red_circle: **Aim** : Analyze the different aspects of YouTube channels of being the top in globe.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/surajjha101/top-youtube-channels-data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all

[2022-07-20 04:34] abhisheks008 opened #282 "Mr Beast YouTube Channel Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Mr Beast YouTube Channel Analysis
:red_circle: **Aim** : Analyze different aspects of Mr Beast's YouTube channel and figure out the secrets.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/robikscube/mr-beast-youtube-video-statistics
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the model

[2022-07-20 06:02] Nirvik07 commented on #168
@abhisheks008 The csv file from kaggle is not utf-8 encoded. Pandas is not able to read the csv. Should I encode it with ' 'ISO-8859-1' or any other suggestion?

[2022-07-20 06:25] abhisheks008 commented on #168
@Nirvik07 yeah try it

[2022-07-20 08:33] #168 closed, assigned to Nirvik07

[2022-07-20 08:36] Nirvik07 commented on #282
Full name : NIRVIK GHOSH
GitHub Profile Link : https://github.com/Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyze different aspects of Mr Beast's YouTube channel and predict his popularity through Youtube.
What is your participant role? (Mention the Open Source Program name. Eg. HRSoC, GSSoC, GSOC etc.)
HRSoC 2022 Participnt.

[2022-07-20 08:40] abhisheks008 commented on #282
Hey @Nirvik07 issue assigned to you.

When you are creating the `README.md` file, don't rename it as like, `README4.md` or, `README2.md`, always keep that `README.md`. I have made some changes in your last project, https://github.com/abhisheks008/ML-Crate/tree/main/ICPC%20World%20Ranking%20Analysis. Please keep those in my mind from your next contributions.

Otherwise, your work looks perfect 🎇

[2022-07-20 08:45] Nirvik07 commented on #282
@abhisheks008 I am very sorry for not renaming the readme file. Do I have include the requirements.txt file as it is already written in readme file?

[2022-07-20 09:06] abhisheks008 commented on #282
Yeah a separate `requirements.txt` file must be there, as I have put in your previous project `ICPC World Rankings Analysis`. Check, what are changes I have made.

[2022-07-20 09:11] GundaSudarrshan commented on #271
@abhisheks008  What exactly we need to predict here
I think we just need to do EDA and draw different Inferences from the dataset
I don't see any use of applying ML algorithms here because what exactly we should predict here
the positions can't be predicted and rating can also can't be predicted i feel

can you explain this once!!!!

[2022-07-20 09:31] abhisheks008 commented on #271
Yeah, this is a Data Analysis and visualization project, where you need to analyze different parameters and provide a bunch of conclusions at the end of the project. You can check other data analysis projects of ML-Crate for more clarification on how the things should be presented. And if you wanna work on specifically on a prediction/classification model oriented project, then you can check other

[2022-07-20 11:34] #282 closed

[2022-07-20 11:43] Nirvik07 commented on #281
Full name : NIRVIK GHOSH
GitHub Profile Link : https://github.com/Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyze the different aspects of YouTube channels of being the top in globe
What is your participant role? (Mention the Open Source Program name. Eg. HRSoC, GSSoC, GSOC etc.)
HRSoc 2022 Participant.

[2022-07-20 11:49] abhisheks008 commented on #281
You are speeding up your contribution tally to next level 🚀
Issue assigned to you @Nirvik07

[2022-07-20 15:50] #281 closed

[2022-07-20 15:53] abhisheks008 commented on #277
Issue assigned to you @Nirvik07
You are becoming one of the fastest contributors of ML-Crate!! ✨

[2022-07-20 16:06] #148 closed

[2022-07-20 16:09] Avik-creator commented on #118
Please assign me this @abhisheks008

[2022-07-20 16:14] abhisheks008 commented on #118
This project has two sections, first part is all about analysis (what you have done in your last analysis projects), need to conclude some conclusions. After that, you need to apply the models to predict the prices of the top crypto according to your analysis. Then you need to find the best possible model that is going to be fitted here.

@Avik-creator

[2022-07-20 16:16] Avik-creator commented on #118
@abhisheks008 like linear regression, Random forest, decision tree classifiers right?

[2022-07-20 16:34] Avik-creator commented on #118
Ok I see

[2022-07-20 18:27] Nirvik07 commented on #271
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyse various chess players around the world.
What is your participant role? (Mention the Open Source Program name. Eg. HRSoC, GSSoC, GSOC etc.)
HRSoC 2022 Participant.

[2022-07-20 18:33] Nirvik07 commented on #277
@abhisheks008 sorry for this incorrect pull request. I will correct it by tomorrow morning.

[2022-07-20 18:39] abhisheks008 commented on #277
No issues, create a fresh PR @Nirvik07

[2022-07-20 18:43] Nirvik07 commented on #277
Thank you @abhisheks008

[2022-07-21 04:28] #277 closed

[2022-07-21 04:32] abhisheks008 commented on #271
@GundaSudarrshan are you willing to contribute in this issue, otherwise I'll assign this to @Nirvik07

[2022-07-21 04:45] Nirvik07 commented on #271
@abhisheks008 could you hold this project for me if  @GundaSudarrshan does want to work in it. Meanwhile I can work on another issue and finish it up and later on take this issue up. is ok for you? @abhisheks008

[2022-07-21 04:49] abhisheks008 commented on #271
Yeah sure @Nirvik07

[2022-07-21 05:14] Nirvik07 commented on #279
Full name : NIRVIK GHOSH
GitHub Profile Link : https://github.com/Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyze different aspects of Zomato in Chennai
What is your participant role? (Mention the Open Source Program name. Eg. HRSoC, GSSoC, GSOC etc.)
HRSoc 2022 Participant

[2022-07-21 05:17] abhisheks008 commented on #279
Issue assigned to you @Nirvik07

[2022-07-21 06:15] GundaSudarrshan commented on #271
yes @abhisheks008  I wanted to Work on this Issue

[2022-07-21 06:18] GundaSudarrshan commented on #271
Full name : Gunda Sudarrshan
GitHub Profile Link : https://github.com/GundaSudarrshan
Participant ID (If not, then put NA) : NA
Approach for this Project : Analyzing about top chess players in the World by using  Exploratory Data Analysis.
What is your participant role? (Mention the Open Source Program name. Eg. HRSoC, GSSoC, GSOC etc.)
HRSoC 2022 Participant.

[2022-07-21 08:16] abhisheks008 commented on #271
Issue assigned to you @GundaSudarrshan

[2022-07-21 08:56] PiyushBL45t commented on #280
Hey, @abhisheks008 I would like to work on this issue.

Name: Piyush Bhujbal
GitHub link: https://www.github.com/PiyushBL45t
Participant ID: N/A

Approach for this project:
The first thing to do is to perform a data cleaning and preprocessing activity. Then observe and get the general information for visualization of several parameters. After that, I shall extract the useful parameters and then tr

[2022-07-21 10:38] Nirvik07 commented on #276
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyse different influencer on Instagram.
What is your participant role? (Mention the Open Source Program name. Eg. HRSoC, GSSoC, GSOC etc.)
HRSoC 2022 Participant.

[2022-07-21 10:54] #279 closed

[2022-07-21 10:57] abhisheks008 commented on #276
Issue assigned to you @Nirvik07

[2022-07-21 10:58] abhisheks008 commented on #280
Once your PR got approved this issue will be assigned to you @PiyushBL45t, check your last PR

[2022-07-21 13:04] #145 closed

[2022-07-21 13:12] abhisheks008 commented on #280
Issue assigned to you @PiyushBL45t

[2022-07-21 14:37] abhisheks008 opened #293 "Mobile Price Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Mobile Price Classification
:red_circle: **Aim** : Classify mobile prices and create a prediction model to predict the mobile prices.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/iabhishekofficial/mobile-price-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and

[2022-07-21 14:39] abhisheks008 opened #294 "Brain Stroke Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Brain Stroke Prediction
:red_circle: **Aim** : Create a prediction model to predict the brain stroke.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/zzettrkalpakbal/full-filled-brain-stroke-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to

[2022-07-21 14:41] abhisheks008 opened #295 "Heart Failure Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Heart Failure Prediction
:red_circle: **Aim** : Create a prediction model for heart failure of the patients.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/asgharalikhan/mortality-rate-heart-patient-pakistan-hospital
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare al

[2022-07-21 14:42] Nirvik07 commented on #272
Full name : NIRVIK GHOSH
GitHub Profile Link : https://github.com/Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyse various Universities around the world on basis of feedback given by Guardian.
What is your participant role? (Mention the Open Source Program name. Eg. HRSoC, GSSoC, GSOC etc.)
HRSoC 2022 Participant

[2022-07-21 14:43] abhisheks008 opened #296 "Parts Manufacturing Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Parts Manufacturing Analysis
:red_circle: **Aim** : Create a analysis based visualization to showcase the different aspects of the IT industry regarding the parts manufactures.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/gabrielsantello/parts-manufacturing-industry-dataset
:red_circle: **Approach** : Try

[2022-07-21 14:44] abhisheks008 opened #297 "German Italian Speech Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : German Italian Speech Analysis
:red_circle: **Aim** : Analyse and visualize different aspects of the German and Italian language.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/mitishaagarwal/german-italian-speech-analysis
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and comp

[2022-07-21 14:46] abhisheks008 opened #298 "Spotify Songs Recommendation System"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Spotify Songs Recommendation System
:red_circle: **Aim** : Create a ML model which will recommend the songs as per the taste of the users.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/corneliusjustin/spotify-songs-recommendationbinary-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to

[2022-07-21 14:46] abhisheks008 commented on #272
Issue assigned to you @Nirvik07

[2022-07-21 16:11] Nirvik07 commented on #293
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyse various mobile phones in the market.
What is your participant role? (Mention the Open Source Program name. Eg. HRSoC, GSSoC, GSOC etc.)
HRSoC 2022 Participant.

[2022-07-21 16:15] #272 closed

[2022-07-21 16:18] abhisheks008 commented on #293
Issue assigned to you @Nirvik07

[2022-07-21 17:54] Avik-creator commented on #115
@abhisheks008 We need to just analyse right? also would like to mention the dataset link is showing unavaliable

[2022-07-21 17:58] Avik-creator commented on #182
@abhisheks008 Do we need to do analyse on Nifty 50 only?

[2022-07-21 18:29] LahariBoni commented on #156
Hi @abhisheks008 , I would like to work on this issue. Could you please assign this to me.

Full name: Lahari Boni

GitHub Profile Link: https://github.com/LahariBoni

Participant ID:  N/A

Approach for this Project: Firstly, I'd like to perform basic exploration on the data and clean it if necessary. After that, I will try to draw conclusions from the dataset and find insights in relation to the

[2022-07-21 19:02] Nirvik07 commented on #177
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID : NA
Approach for this Project : To analyse the various Podcasts.
What is your participant role?
HRSoC 2022 Participant.

[2022-07-22 03:38] #118 closed

[2022-07-22 03:42] #293 closed

[2022-07-22 03:42] abhisheks008 commented on #182
Analysis and model creation @Avik-creator

[2022-07-22 03:43] abhisheks008 commented on #177
Issue assigned to you @Nirvik07

[2022-07-22 03:43] abhisheks008 commented on #156
Issue assigned to you @LahariBoni

[2022-07-22 03:44] Avik-creator commented on #182
On nifty 50 only right?

[2022-07-22 03:45] abhisheks008 commented on #115
I'm looking in to it. This issue was created in the month of Jan, I will attach a new dataset for this project.

Sorry for the inconvenience caused @Avik-creator

[2022-07-22 03:45] abhisheks008 commented on #182
Check out the dataset

[2022-07-22 03:46] Avik-creator commented on #115
@abhisheks008 no worries happens with everyone no need to say sorry

[2022-07-22 03:55] Avik-creator commented on #182
![IMG_20220722_092435.jpg](https://user-images.githubusercontent.com/77090462/180359103-15871ad3-eeaf-404b-b36f-442d8f347c93.jpg)

It has something like this @abhisheks008 so now I need to do analysis on all of them ? Or on nifty 50.

[2022-07-22 04:09] abhisheks008 commented on #182
Analyse all of them @Avik-creator

[2022-07-22 04:15] abhisheks008 commented on #115
Updated the issue information, as well as the dataset @Avik-creator

[2022-07-22 04:21] abhisheks008 commented on #183
@vickyrules updates please.

[2022-07-22 04:22] abhisheks008 commented on #178
Updates please @srini047

[2022-07-22 04:25] vickyrules commented on #183
I'm busy with college work for the last few days.
And will create a pr by tomorrow evening for sure.

[2022-07-22 04:26] Avik-creator commented on #115
@abhisheks008 if it is only analysis please assign me.

[2022-07-22 04:31] abhisheks008 commented on #183
No worries, take your time @vickyrules

[2022-07-22 04:32] abhisheks008 commented on #115
Issue assigned to you @Avik-creator

[2022-07-22 07:05] #115 closed

[2022-07-22 09:44] Avik-creator commented on #296
If it is only analysis please assign me this @abhisheks008

[2022-07-22 11:16] srini047 commented on #178
@abhisheks008  I have started the building model's, need to do 2 more models and summary alone.

Sorry for the delay in making PR.

[2022-07-22 13:55] abhisheks008 commented on #296
Issue assigned to you @Avik-creator

[2022-07-22 14:03] #177 closed

[2022-07-22 14:06] Nirvik07 commented on #179
@abhisheks008 the dataset link is showing not found. Please help.

[2022-07-22 14:16] abhisheks008 commented on #179
Let me check buddy

[2022-07-22 14:18] abhisheks008 commented on #179
@Nirvik07 check this out, https://www.kaggle.com/datasets/shivavashishtha/shark-tank-india-dataset

[2022-07-22 14:20] abhisheks008 commented on #178
Thanks for the update @srini047. No worries, take your time. 😃

[2022-07-22 14:33] Nirvik07 commented on #149
Full name : NIRVIK GHOSH
GitHub Profile Link : https://github.com/Nirvik07
Participant ID : NA
Approach for this Project : To analyze the vaccine myths on Reddit
What is your participant role? HRSoC 2022 Participant.

[2022-07-22 14:45] abhisheks008 commented on #149
Issue assigned to you @Nirvik07

[2022-07-22 17:35] Nirvik07 commented on #147
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID : NA
Approach for this Project : To analyse various teachers in Pakistan
What is your participant role?
HRSoC 2022 Participants

[2022-07-22 18:37] #149 closed

[2022-07-22 18:40] abhisheks008 commented on #147
Issue assigned to you @Nirvik07

[2022-07-23 07:42] Nirvik07 commented on #146
@abhisheks008 in this project do we have to do analysis with only train.csv or anything else?

[2022-07-23 07:47] Nirvik07 commented on #132
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID : NA
Approach for this Project : To analysis various okCupid profile.
What is your participant role? HRSoC 2022 participant.

[2022-07-23 07:47] #280 closed

[2022-07-23 07:49] #147 closed

[2022-07-23 07:55] abhisheks008 commented on #132
Issue assigned to you @Nirvik07

[2022-07-23 07:57] abhisheks008 commented on #146
You need to use deep learning methods to create a model which will determine whether a particular area is a part of Great Barrier Reef or, not.

[2022-07-23 08:45] #296 closed

[2022-07-23 08:46] Avik-creator commented on #295
Please assign me this. @abhisheks008

[2022-07-23 08:48] abhisheks008 commented on #295
Issue assigned to you @Avik-creator

[2022-07-23 09:10] PiyushBL45t commented on #120
@abhisheks008 The link is not working for the dataset

[2022-07-23 09:18] PiyushBL45t commented on #110
@abhisheks008 I would like to work on this issue.
Name: Piyush Bhujbal
GitHub profile link: https://www.github.com/PiyushBL45t

Approach for this project:
1. Filter the dataset.
2. Analyze the columns.
3. Take out useful columns.
4. Dropping out useless columns.
5. Making visualizations.
6. Implementing ML algorithms if necessary.
7. Derive useful results from the visuals.

Participant Role: HSOC

[2022-07-23 12:31] Nirvik07 commented on #251
Full name : Nirvik Ghosh
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyse Stock prices and created a model to predict the stock prices.
What is your participant role? HRSoC 2022 Participant.

[2022-07-23 13:37] #183 closed

[2022-07-23 13:39] #132 closed

[2022-07-23 13:44] abhisheks008 commented on #251
Issue assigned to you @Nirvik07

[2022-07-23 13:46] abhisheks008 commented on #110
You need to create a prediction model, and before that a good EDA is required.

Issue assigned to you @PiyushBL45t

[2022-07-23 15:56] #251 closed

[2022-07-23 16:02] Nirvik07 commented on #179
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID : NA
Approach for this Project : To analyse the different seasons of Shark Tank depending on different features.
What is your participant role? HRSoC 2022 Participant

[2022-07-23 16:05] abhisheks008 commented on #179
Issue assigned to you @Nirvik07

[2022-07-23 18:44] Nirvik07 commented on #155
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID : NA
Approach for this Project : To analyze the data of the Indian telecommunication network market analysis
What is your participant role? HRSoC 2022 Participant

[2022-07-24 03:24] #179 closed

[2022-07-24 03:26] abhisheks008 commented on #155
Issue assigned to you @Nirvik07

[2022-07-24 03:26] abhisheks008 commented on #271
Updates please @GundaSudarrshan

[2022-07-24 03:41] srini047 commented on #178
@abhisheks008 done with Model. Need to make README alone. Will do PR within today.
Sorry for the delay in making PR.

[2022-07-24 04:03] Nirvik07 commented on #165
@abhisheks008  Dataset link is not working.

[2022-07-24 05:53] abhisheks008 commented on #165
@Nirvik07 Dataset updated!

[2022-07-24 08:45] #155 closed

[2022-07-24 10:03] Nirvik07 commented on #223
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID : NA
Approach for this Project : To classify  and predict Swarm Behavior using Logistic Regression
What is your participant role? HRSoC 2022 Participant.

[2022-07-24 10:08] GundaSudarrshan commented on #271
@abhisheks008  sorry for the Delay , I was having My end semester Exams so I was Unable to Contribute much, I will try to update by weekend , If that's not ok for you can reassign to someone.

[2022-07-24 10:18] Nirvik07 commented on #223
@abhisheks008 assign me this. ☺

[2022-07-24 10:39] Avik-creator commented on #295
Sorry but can't do it for now. Will do it later @abhisheks008

[2022-07-24 10:41] vickyrules commented on #170
@abhisheks008  assign this please

[2022-07-24 10:44] Avik-creator commented on #121
@abhisheks008 Please assign me this

[2022-07-24 12:46] abhisheks008 commented on #271
Don't worry. Concentrate in your end sem exams, you can complete it later on @GundaSudarrshan

[2022-07-24 12:46] abhisheks008 commented on #170
Issue assigned to you @vickyrules

[2022-07-24 12:47] abhisheks008 commented on #223
Issue assigned to you @Nirvik07

[2022-07-24 14:16] abhisheks008 opened #314 "Nearest Earth Objects Classification and Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Nearest Earth Objects Classification and Prediction
:red_circle: **Aim** : Classify and predict the nearest earth objects from the NASA.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/sameepvani/nasa-nearest-earth-objects
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compa

[2022-07-24 14:18] abhisheks008 opened #315 "Airlines Delay Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Airlines Delay Prediction
:red_circle: **Aim** : Predict the delay of an airlines from the given dataset.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/jimschacko/airlines-dataset-to-predict-a-delay
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms

[2022-07-24 14:19] abhisheks008 opened #316 "Car Purchasing Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Car Purchasing Prediction
:red_circle: **Aim** : Predict which are the cars to be purchased.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/gabrielsantello/cars-purchase-decision-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out t

[2022-07-24 14:20] abhisheks008 opened #317 "Credit Score Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Credit Score Classification
:red_circle: **Aim** : Classify the credit scores of different customers.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/parisrohan/credit-score-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out

[2022-07-24 14:21] abhisheks008 opened #318 "Global University Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Global University Analysis
:red_circle: **Aim** : Analyse different universities around the globe from the given dataset.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/jkanthony/world-university-rankings-202223
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the

[2022-07-24 14:23] abhisheks008 opened #319 "Chocolate Classification and Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Chocolate Classification and Prediction
:red_circle: **Aim** : Classify the varieties of the chocolates and predict them accordingly.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/siddharthmandgi/chocolate-classification
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compa

[2022-07-24 14:24] abhisheks008 opened #320 "Telecom Customer Churn Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Telecom Customer Churn Prediction
:red_circle: **Aim** : Predict the churn in the telecom customers from the dataset.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/shilongzhuang/telecom-customer-churn-by-maven-analytics
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compar

[2022-07-24 14:25] abhisheks008 commented on #121
Issue assigned to you @Avik-creator

[2022-07-24 16:37] #121 closed

[2022-07-24 16:41] #223 closed

[2022-07-24 16:42] Avik-creator commented on #316
Please assign me this @abhisheks008

[2022-07-24 16:49] abhisheks008 commented on #316
Issue assigned to you @Avik-creator

[2022-07-24 17:23] Nirvik07 commented on #315
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To predict the delay of airlines from the given dataset.
What is your participant role? HRSoC 2022 Participant.

[2022-07-25 03:37] #170 closed

[2022-07-25 05:05] abhisheks008 commented on #315
Issue assigned to you @Nirvik07

[2022-07-25 12:30] Nirvik07 commented on #314
@abhisheks008 the two csvs in this dataset link are same. So should we work on any one of them?

[2022-07-25 13:49] #315 closed

[2022-07-25 14:04] Nirvik07 commented on #314
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To classify and predict the nearest earth objects from the NASA.
What is your participant role?  HRSoC 2022 Participants.

[2022-07-25 14:16] abhisheks008 commented on #314
Use any of them, issue assigned to you @Nirvik07

[2022-07-25 16:13] Avik-creator commented on #320
@abhisheks008 It is kinda analysis and giving suggestions right?

[2022-07-25 16:13] Avik-creator commented on #182
Please assign me this

[2022-07-25 16:17] Nirvik07 commented on #318
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyse QS University Ranking.
What is your participant role? HRSoC 2022 Participant.

[2022-07-26 04:02] #316 closed

[2022-07-26 04:07] #110 closed

[2022-07-26 04:12] abhisheks008 commented on #182
Will you want to work in this issue @Avik-creator ?

[2022-07-26 04:13] Avik-creator commented on #182
Yes

[2022-07-26 04:17] Avik-creator commented on #182
@abhisheks008 will it be feasible to do analysis on 6 CSV files?

[2022-07-26 04:25] abhisheks008 commented on #182
You can analyse them separately (It would be better), or you can merge few of them and then visualize accordingly @Avik-creator

Issue assigned to you @Avik-creator

[2022-07-26 04:27] Avik-creator commented on #182
@abhisheks008 let me see what I can do

[2022-07-26 05:46] #178 closed

[2022-07-26 10:09] PiyushBL45t commented on #320
Hi, @abhisheks008 I would like to work on this issue
Name: Piyush Bhujbal
GitHub ID: https:www.github.com/PiyushBL45t

Approach:
I have read the problem statement and I am ready for further tasks. First I shall analyze the dataset and try to derive insights. Then prepare an EDA report to record the dataset variables' behavior. Then try to implement ML models and make predictions related to custome

[2022-07-26 12:56] abhisheks008 commented on #320
Issue assigned to you @PiyushBL45t

[2022-07-27 08:24] #314 closed

[2022-07-27 13:45] Nirvik07 commented on #318
@abhisheks008 assign me this.

[2022-07-27 14:02] abhisheks008 commented on #318
Issue assigned to you @Nirvik07

[2022-07-28 06:25] #318 closed

[2022-07-28 07:26] Nirvik07 commented on #273
@abhisheks008 in this project only EDA?

[2022-07-28 08:29] abhisheks008 commented on #273
And also the price prediction if possible with this dataset @Nirvik07

[2022-07-28 08:40] abhisheks008 opened #332 "Electric Motor Temperature Analysis"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Electric Motor Temperature Analysis
:red_circle: **Aim** : Analyse the temperature of the motors given in the dataset.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/wkirgsn/electric-motor-temperature
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms

[2022-07-28 08:41] abhisheks008 opened #333 "Electricity Consumption Forecasting"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Electricity Consumption Forecasting
:red_circle: **Aim** : This project will help us in forecasting the electricity consumption from the provided dataset.
:red_circle: **Dataset**: https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption
:red_circle: **Approach** : Try to use 3-4 algorithm

[2022-07-28 08:42] abhisheks008 opened #334 "Endangered Right Whales Classification"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Endangered Right Whales Classification
:red_circle: **Aim** : This project will help us in recognizing and classifying the endangered right whales from the dataset provided.
:red_circle: **Dataset** : https://www.kaggle.com/c/noaa-right-whale-recognition/data
:red_circle: **Approach** : Try to use 3-4 algorithms to impl

[2022-07-28 08:43] abhisheks008 opened #335 "Airbus Ship Detection"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Airbus Ship Detection
:red_circle: **Aim** : This project will help us in detecting the airbus ship using the dataset given
:red_circle: **Dataset** : https://www.kaggle.com/c/airbus-ship-detection/data
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find o

[2022-07-28 08:44] abhisheks008 opened #336 "Hotel Recommendation System"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Hotel Recommendation System
:red_circle: **Aim** : Create a recommendation model for hotels.
:red_circle: **Dataset** : https://www.kaggle.com/datasets/keshavramaiah/hotel-recommendation
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitt

[2022-07-28 08:46] Nirvik07 commented on #273
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To amalyse the Prices of Housing Property.
What is your participant role? HRSoC 2022 Participant.

[2022-07-28 08:46] abhisheks008 opened #337 "Soil Moisture Prediction"
### ML-Crate Repository (Proposing new issue)
:red_circle: **Project Title** : Soil Moisture Prediction
:red_circle: **Aim** : This project will help us in predicting the moisture of the soil to check if it's wet or dry
:red_circle: **Dataset** : https://www.kaggle.com/amirmohammdjalili/soil-moisture-dataset
:red_circle: **Approach** : Try to use 3-4 algorithms to implement the models and compare

[2022-07-28 08:46] abhisheks008 commented on #273
Issue assigned to you @Nirvik07

[2022-07-28 08:50] Nirvik07 commented on #335
Not able to download dataset @abhisheks008

[2022-07-28 09:05] ilhamansari commented on #333
Full name : Md Ilham Ansari
GitHub Profile Link :  https://github.com/ilhamansari
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyse the household electricity consumption.
What is your participant role? HRSoC 2022 Participant

[2022-07-28 14:13] abhisheks008 commented on #335
You need to have a verified Kaggle profile to download the dataset @Nirvik07

[2022-07-28 14:14] abhisheks008 commented on #333
Issue assigned to you @ilhamansari.

Have you filled up the Google form circulated in the #general channel of ML-Crate?

[2022-07-28 14:16] ilhamansari commented on #333
No. Filling it up right now. @abhisheks008

[2022-07-28 19:25] Nirvik07 commented on #332
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : To analyse the Electric Motor Temperature.
What is your participant role? HRSoC 2022 Participant.

[2022-07-29 03:39] #273 closed

[2022-07-29 03:44] abhisheks008 commented on #332
Issue assigned to you, also create a prediction model by which we can predict the temperature of the motors based on the particular parameters.

@Nirvik07